Repository webview-bundle/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, oxc

rustfmt:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --workspace

oxc:
  run: yarn oxlint {staged_files} --type-aware --fix && yarn oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

feat(core): add mock system for testing (#118)
  Cargo.toml
  lefthook.yml
  packages/core/.gitignore
  packages/core/Cargo.toml
  packages/core/src/builder.rs
  packages/core/src/bundle.rs
  packages/core/src/header.rs
  packages/core/src/index.rs
  packages/core/src/protocol/bundle.rs
  packages/core/src/protocol/local.rs
  packages/core/src/remote/remote.rs
  packages/core/src/signature/ecdsa_secp256r1.rs
  packages/core/src/signature/ecdsa_secp384r1.rs
  packages/core/src/signature/ed25519.rs
  packages/core/src/signature/rsa_pkcs1_v1_5.rs
  packages/core/src/signature/rsa_pss.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/source.rs
  packages/core/src/testing/mock.rs
  packages/core/src/testing/mod.rs
  packages/core/src/testing/temp.rs
  packages/core/src/updater/updater.rs
  packages/node/Cargo.toml
  packages/node/src/protocol.rs
  packages/node/src/remote/remote.rs
  packages/node/src/signature.rs
  packages/tauri/Cargo.toml
  packages/tauri/src/error.rs
  packages/tauri/src/lib.rs
  rustfmt.toml
Due: rustfmt, clippy

nextjs 16
  website/package.json
  yarn.lock
Due: oxc

fix(website): upgrade nextjs 16 (#120)
  website/package.json
  yarn.lock
Due: oxc

operations -> api
  packages/cli/src/api/builtin.ts
  packages/cli/src/api/create.ts
  packages/cli/src/api/error.ts
  packages/cli/src/api/extract.ts
  packages/cli/src/api/remote/logging.ts
  packages/cli/src/api/remote/upload.ts
  packages/cli/src/api/serve.ts
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/builtin.ts
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/extract.ts
  packages/cli/src/commands/remote/download.ts
  packages/cli/src/commands/remote/upload.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/index.ts
Due: oxc

export `/api` subpath
  packages/cli/package.json
  packages/cli/src/api/index.ts
  packages/cli/src/config/index.ts
  packages/cli/src/index.ts
  packages/cli/tsdown.config.ts
Due: oxc

JSDoc for api and rename `OperationError` -> `ApiError`
  packages/cli/src/api/builtin.ts
  packages/cli/src/api/create.ts
  packages/cli/src/api/error.ts
  packages/cli/src/api/extract.ts
  packages/cli/src/api/remote/upload.ts
  packages/cli/src/api/serve.ts
  packages/cli/src/commands/base.ts
Due: oxc

feat: add tracing support for debugging and request handling
  Cargo.toml
  packages/core/Cargo.toml
  packages/core/src/protocol/bundle.rs
  packages/core/src/protocol/http_ext.rs
  packages/core/src/protocol/local.rs
  packages/core/src/protocol/mod.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/source.rs
Due: rustfmt, clippy

feat(cli): expose `/api` import path for `@wvb/cli` npm package (#122)
  packages/cli/package.json
  packages/cli/src/api/builtin.ts
  packages/cli/src/api/create.ts
  packages/cli/src/api/error.ts
  packages/cli/src/api/extract.ts
  packages/cli/src/api/index.ts
  packages/cli/src/api/remote/logging.ts
  packages/cli/src/api/remote/upload.ts
  packages/cli/src/api/serve.ts
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/builtin.ts
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/extract.ts
  packages/cli/src/commands/remote/download.ts
  packages/cli/src/commands/remote/upload.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/config/index.ts
  packages/cli/src/index.ts
  packages/cli/tsdown.config.ts
Due: oxc

fix
  justfile
  packages/core/Cargo.toml
Due: none

feat(core): add tracing support for debugging and request handling (#123)
  Cargo.toml
  justfile
  packages/core/Cargo.toml
  packages/core/src/protocol/bundle.rs
  packages/core/src/protocol/http_ext.rs
  packages/core/src/protocol/local.rs
  packages/core/src/protocol/mod.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/source.rs
Due: rustfmt, clippy

wip
  packages/core/Cargo.toml
  packages/core/src/lib.rs
  packages/core/src/remote/http.rs
  packages/core/src/remote/remote.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/source.rs
  packages/core/src/testing/mock.rs
  packages/core/src/testing/mod.rs
  packages/core/src/testing/temp.rs
  packages/core/src/updater/updater.rs
  packages/core/tests/integration.rs
  packages/electron/src/api.ts
  packages/electron/src/ipc-spec.ts
  packages/electron/src/ipc.ts
  packages/tauri/Cargo.toml
  packages/tauri/api/index.ts
  packages/tauri/api/remote.ts
  packages/tauri/api/source.ts
  packages/tauri/api/updater.ts
  packages/tauri/package.json
  packages/tauri/src/commands.rs
  packages/tauri/src/config.rs
  packages/tauri/src/error.rs
  packages/tauri/src/lib.rs
  packages/tauri/tsdown.config.ts
  yarn.lock
Due: rustfmt, clippy, oxc

fix format
  packages/core/Cargo.toml
Due: none

fix attw
  packages/tauri/package.json
  packages/tauri/tsdown.config.ts
Due: oxc

fix typecheck
  packages/tauri/tsconfig.json
Due: oxc

fix
  packages/tauri/package.json
Due: oxc

feat: add core testing, tauri commands (#129)
  packages/core/Cargo.toml
  packages/core/src/lib.rs
  packages/core/src/remote/http.rs
  packages/core/src/remote/remote.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/source.rs
  packages/core/src/testing/mock.rs
  packages/core/src/testing/mod.rs
  packages/core/src/testing/temp.rs
  packages/core/src/updater/updater.rs
  packages/core/tests/integration.rs
  packages/electron/src/api.ts
  packages/electron/src/ipc-spec.ts
  packages/electron/src/ipc.ts
  packages/tauri/Cargo.toml
  packages/tauri/api/index.ts
  packages/tauri/api/remote.ts
  packages/tauri/api/source.ts
  packages/tauri/api/updater.ts
  packages/tauri/package.json
  packages/tauri/src/commands.rs
  packages/tauri/src/config.rs
  packages/tauri/src/error.rs
  packages/tauri/src/lib.rs
  packages/tauri/tsconfig.json
  packages/tauri/tsdown.config.ts
  yarn.lock
Due: rustfmt, clippy, oxc

chore: add funding
  .github/FUNDING.yml
Due: none

setup playground
  .gitignore
  .oxfmtrc.json
  .oxlintrc.json
  .yarnrc.yml
  README.md
  package.json
  playground/electron/native/forge.config.ts
  playground/electron/native/forge.env.d.ts
  playground/electron/native/package.json
  playground/electron/native/src/main.ts
  playground/electron/native/src/preload.ts
  playground/electron/native/tsconfig.json
  playground/electron/native/vite.main.config.ts
  playground/electron/native/vite.preload.config.ts
  playground/electron/native/vite.renderer.config.ts
  playground/electron/package.json
  playground/electron/services/home/package.json
  playground/electron/services/home/tsconfig.json
  playground/electron/services/splash/index.html
  playground/electron/services/splash/package.json
  playground/electron/services/splash/src/main.css
  playground/electron/services/splash/src/main.tsx
  playground/electron/services/splash/src/routeTree.gen.ts
  playground/electron/services/splash/src/routes/__root.tsx
  playground/electron/services/splash/src/routes/index.tsx
  playground/electron/services/splash/tsconfig.json
  playground/electron/services/splash/vite-env.d.ts
  playground/electron/services/splash/vite.config.ts
  playground/electron/tsconfig.json
  yarn.lock
Due: oxc

update
  .yarnrc.yml
  packages/core/src/protocol/local.rs
  playground/electron/native/.gitignore
  playground/electron/native/package.json
  playground/electron/native/src/main.ts
  playground/electron/native/vite.main.config.ts
  playground/electron/services/home/index.html
  playground/electron/services/home/package.json
  playground/electron/services/home/src/main.css
  playground/electron/services/home/src/main.tsx
  playground/electron/services/home/src/routeTree.gen.ts
  playground/electron/services/home/src/routes/__root.tsx
  playground/electron/services/home/src/routes/index.tsx
  playground/electron/services/home/vite-env.d.ts
  playground/electron/services/home/vite.config.ts
  playground/electron/services/splash/package.json
  playground/electron/services/splash/src/routes/index.tsx
  playground/electron/services/splash/test.http
  yarn.lock
Due: rustfmt, clippy, oxc

pass headers
  packages/core/src/protocol/local.rs
Due: rustfmt, clippy

fix bundle resource key
  packages/remote/cloudflare-provider/src/operations/getBundleDataResponse.ts
Due: oxc

fix header name
  packages/remote/cloudflare-provider/src/operations/getBundleDataResponse.ts
Due: oxc

default content disposition
  packages/remote/cloudflare-provider/src/operations/getBundleDataResponse.ts
Due: oxc

fix bulk get
  packages/remote/cloudflare-provider/src/operations/listBundleDeployments.ts
Due: oxc

fix version get
  packages/remote/cloudflare-provider/src/operations/getBundleVersion.ts
Due: oxc

separate script
  packages/remote/cloudflare-provider/src/index.ts
  packages/remote/cloudflare-provider/src/remote.ts
Due: oxc

fix(core): pass request headers to local proxy (#130)
  packages/core/src/protocol/local.rs
Due: rustfmt, clippy

fix(remote-cloudflare-provider): fix remote provider bugs (#131)
  packages/remote/cloudflare-provider/src/index.ts
  packages/remote/cloudflare-provider/src/operations/getBundleDataResponse.ts
  packages/remote/cloudflare-provider/src/operations/getBundleVersion.ts
  packages/remote/cloudflare-provider/src/operations/listBundleDeployments.ts
  packages/remote/cloudflare-provider/src/remote.ts
Due: oxc

update xtask
  xtask.json
Due: oxc

fix
  xtask/child_process.ts
Due: oxc

upgrade nodejs 24.15.0
  .node-version
  mise.toml
Due: none

upgrade yarn 4.14.1
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.14.1.cjs
  .yarnrc.yml
  package.json
Due: oxc

update yarn
  yarn.lock
Due: none

build only js
  .github/workflows/ci.yaml
Due: none

chore: upgrade nodejs 24.15.0 (#135)
  .node-version
  mise.toml
Due: none

chore: upgrade yarn 4.14.1 (#136)
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.14.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: oxc

Path conditions:
  rustfmt: any of: *.rs
  clippy: any of: *.rs
  oxc: any of: *.{js,ts,jsx,tsx,cjs,mjs,cts,mts,json}
