Repository webview-bundle/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, oxc

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rustfmt:
      glob: '*.rs'
      run: cargo fmt --all
      stage_fixed: true
    clippy:
      glob: '*.rs'
      run: cargo clippy --workspace
    oxc:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,cts,mts,json}'
      run: yarn oxlint {staged_files} --type-aware --fix && yarn oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

style(tauri): taplo format Cargo.toml
  packages/tauri/Cargo.toml
Due: none

Update index.rs
  packages/core/src/index.rs
Due: rustfmt, clippy

fix: bundle integrity/signature verification & deterministic serialization (#196)
  Cargo.toml
  packages/config/src/remote/integrity.spec.ts
  packages/config/src/remote/integrity.ts
  packages/core/Cargo.toml
  packages/core/src/builder.rs
  packages/core/src/bundle.rs
  packages/core/src/index.rs
  packages/core/src/integrity/integrity.rs
  packages/core/src/integrity/mod.rs
  packages/core/src/integrity/policy.rs
  packages/core/src/signature/ecdsa_secp256r1.rs
  packages/core/src/signature/ecdsa_secp384r1.rs
  packages/core/src/signature/ed25519.rs
  packages/core/src/signature/rsa_pkcs1_v1_5.rs
  packages/core/src/signature/rsa_pss.rs
  packages/core/src/testing/mock.rs
  packages/node/tests/integrity-and-signature.spec.ts
  packages/tauri/Cargo.toml
  packages/tauri/src/config.rs
  packages/tauri/src/desktop.rs
  packages/tauri/src/lib.rs
Due: rustfmt, clippy, oxc

works
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  justfile
  mise.toml
  packages/bridge/src/invoke.ts
  packages/bridge/src/platform.ts
  packages/deno-desktop/deno.json
  packages/deno-desktop/fixtures/builtin/app/app_1.0.0.wvb
  packages/deno-desktop/fixtures/builtin/manifest.json
  packages/deno-desktop/lib/bindings.test.ts
  packages/deno-desktop/lib/bindings.ts
  packages/deno-desktop/lib/mod.ts
  packages/deno-desktop/lib/source.test.ts
  packages/deno-desktop/lib/webview-bundle.test.ts
  packages/deno.json
  packages/deno.lock
  packages/deno/.gitignore
  packages/deno/Cargo.toml
  packages/deno/deno.json
  packages/deno/fixtures/builtin/app/app_1.0.0.wvb
  packages/deno/fixtures/builtin/manifest.json
  packages/deno/lib/binding.test.ts
  packages/deno/lib/ffi.ts
  packages/deno/lib/install.ts
  packages/deno/lib/mod.ts
  packages/deno/lib/release.test.ts
  packages/deno/lib/release.ts
  packages/deno/lib/source.ts
  packages/deno/lib/updater.ts
  packages/deno/scripts/build.ts
  packages/deno/src/lib.rs
  packages/deno/xtask.config.json
  taplo.toml
  xtask/commands/attw.ts
  xtask/workspaces.ts
Due: rustfmt, clippy, oxc

fix(core): retry manifest read on Windows transient errors during concurrent rename
  packages/core/Cargo.toml
  packages/core/src/source/manifest.rs
Due: rustfmt, clippy

fix(core): retry manifest read on Windows transient errors during concurrent rename (#197)
  packages/core/Cargo.toml
  packages/core/src/source/manifest.rs
Due: rustfmt, clippy

fix(deno): address cubic review feedback
  packages/deno-desktop/lib/source.test.ts
  packages/deno-desktop/lib/source.ts
  packages/deno-desktop/lib/webview-bundle.ts
  packages/deno/lib/binding.test.ts
  packages/deno/lib/ffi.ts
  packages/deno/src/lib.rs
  xtask/versioned-file.ts
Due: rustfmt, clippy, oxc

update license year
  LICENSE
Due: none

chore: update license year (#198)
  LICENSE
Due: none

update readme
  README-ko_kr.md
  README.md
Due: none

chore: update readme (#199)
  README-ko_kr.md
  README.md
Due: none

chore: update readme banner image src
  README-ko_kr.md
  README.md
Due: none

feat(tauri): support iOS/Android mobile builds (#174)
  packages/tauri/Cargo.toml
  packages/tauri/src/android.rs
  packages/tauri/src/config.rs
  packages/tauri/src/error.rs
  packages/tauri/src/lib.rs
  packages/tauri/src/state.rs
Due: rustfmt, clippy

fix
  packages/core/src/source/manifest.rs
Due: rustfmt, clippy

fix(core): fix windows fs retry (#201)
  packages/core/src/source/manifest.rs
Due: rustfmt, clippy

feat(xtask): make prerelease/release retryable
  .github/workflows/release.yaml
  xtask/README.md
  xtask/action.ts
  xtask/child_process.ts
  xtask/commands/prerelease.ts
  xtask/commands/release.ts
  xtask/github.ts
  xtask/package.ts
  xtask/registry.spec.ts
  xtask/registry.ts
  xtask/releasing.ts
  xtask/version.ts
  xtask/versioned-file.ts
  xtask/versioned-git-tag.ts
Due: oxc

refactor(xtask): ports + registry strategies + plan/apply pipeline
  xtask/action.spec.ts
  xtask/action.ts
  xtask/commands/prerelease.ts
  xtask/commands/release.ts
  xtask/github.ts
  xtask/ports.ts
  xtask/registry.spec.ts
  xtask/registry.ts
  xtask/releasing.spec.ts
  xtask/releasing.ts
  xtask/utils.ts
  xtask/versioned-file.ts
Due: oxc

feat(xtask): publish deno.json manifests to JSR
  xtask/changelog.ts
  xtask/registry.spec.ts
  xtask/registry.ts
  xtask/releasing.spec.ts
  xtask/releasing.ts
  xtask/versioned-file.ts
Due: oxc

chore: move deno/JSR release tooling out of xtask
  xtask/changelog.ts
  xtask/commands/attw.ts
  xtask/releasing.ts
  xtask/versioned-file.ts
  xtask/workspaces.ts
Due: oxc

feat(xtask): retry the registry existence checks on transient failures
  xtask/registry.spec.ts
  xtask/registry.ts
Due: oxc

update
  xtask/commands/prepare-release.ts
  xtask/ports.ts
  xtask/registry.spec.ts
  xtask/registry.ts
  xtask/releasing.ts
  xtask/versioned-file.ts
Due: oxc

ignore more
  xtask/versioned-file.ts
Due: oxc

refactor(xtask): ports + registry strategies + plan/apply pipeline (#203)
  xtask/action.spec.ts
  xtask/action.ts
  xtask/changelog.ts
  xtask/commands/prepare-release.ts
  xtask/commands/prerelease.ts
  xtask/commands/release.ts
  xtask/github.ts
  xtask/ports.ts
  xtask/registry.spec.ts
  xtask/registry.ts
  xtask/releasing.spec.ts
  xtask/releasing.ts
  xtask/utils.ts
  xtask/versioned-file.ts
Due: oxc

feat(xtask): make prerelease/release retryable and refactor (#202)
  .github/workflows/release.yaml
  xtask/README.md
  xtask/action.spec.ts
  xtask/action.ts
  xtask/changelog.ts
  xtask/child_process.ts
  xtask/commands/prepare-release.ts
  xtask/commands/prerelease.ts
  xtask/commands/release.ts
  xtask/github.ts
  xtask/package.ts
  xtask/ports.ts
  xtask/registry.ts
  xtask/releasing.spec.ts
  xtask/releasing.ts
  xtask/utils.ts
  xtask/version.ts
  xtask/versioned-file.ts
  xtask/versioned-git-tag.ts
Due: oxc

chore: update readme
  README.md
Due: none

fix cargo toml formatting
  xtask/cargo-toml.spec.ts
  xtask/cargo-toml.ts
Due: oxc

update justfile
  justfile
  packages/deno-desktop/lib/bindings.test.ts
  packages/deno-desktop/lib/source.test.ts
  packages/deno-desktop/lib/webview-bundle.test.ts
  packages/deno/lib/binding.test.ts
Due: oxc

add claude instructions
  .claude/CLAUDE.md
  .gitignore
Due: none

release
  .github/workflows/ci.yaml
Due: none

fix(xtask): cargo toml formatting breaks releasing (#206)
  xtask/cargo-toml.spec.ts
  xtask/cargo-toml.ts
Due: oxc

chore: add claude instructions (#204)
  .claude/CLAUDE.md
  .gitignore
Due: none

chore: update justfile (#205)
  .github/workflows/ci.yaml
  justfile
  packages/deno-desktop/lib/bindings.test.ts
  packages/deno-desktop/lib/source.test.ts
  packages/deno-desktop/lib/webview-bundle.test.ts
  packages/deno/lib/binding.test.ts
Due: oxc

refactor(xtask): move package config to root xtask.config.ts
  .claude/CLAUDE.md
  .gitignore
  biome.json
  justfile
  packages/bridge/xtask.config.json
  packages/cli/xtask.config.json
  packages/config/xtask.config.json
  packages/core/xtask.config.json
  packages/deno-desktop/xtask.config.json
  packages/deno/xtask.config.json
  packages/electron-builder/xtask.config.json
  packages/electron-forge/xtask.config.json
  packages/electron/xtask.config.json
  packages/ffi/xtask.config.json
  packages/node/xtask.config.json
  packages/remote/aws-provider-pulumi/xtask.config.json
  packages/remote/aws-provider/xtask.config.json
  packages/remote/aws/xtask.config.json
  packages/remote/cloudflare-provider-pulumi/xtask.config.json
  packages/remote/cloudflare-provider/xtask.config.json
  packages/remote/cloudflare/xtask.config.json
  packages/remote/local-provider/xtask.config.json
  packages/remote/local/xtask.config.json
  packages/tauri/xtask.config.json
  xtask.config.ts
  xtask/.scripts/create-schema.ts
  xtask/README.md
  xtask/config.ts
  xtask/package-config.ts
  xtask/package.json
  xtask/package.ts
  xtask/releasing.spec.ts
  xtask/tsconfig.json
  xtask/versioned-file.ts
Due: oxc

fix(ffi): align e2e testTimeout with in-test waits
  packages/ffi/e2e/vitest.e2e-ffi.config.ts
Due: oxc

fix(ffi): align e2e testTimeout with in-test waits (#208)
  packages/ffi/e2e/vitest.e2e-ffi.config.ts
Due: oxc

ci: free runner disk space in ffi android job
  .github/workflows/ci-ffi.yaml
Due: none

ci: shorten free-disk-space comment
  .github/workflows/ci-ffi.yaml
Due: none

fix
  Cargo.toml
Due: none

refactor(xtask): move package config to root xtask.config.ts (#207)
  .claude/CLAUDE.md
  .gitignore
  biome.json
  justfile
  packages/bridge/xtask.config.json
  packages/cli/xtask.config.json
  packages/config/xtask.config.json
  packages/core/xtask.config.json
  packages/deno-desktop/xtask.config.json
  packages/deno/xtask.config.json
  packages/electron-builder/xtask.config.json
  packages/electron-forge/xtask.config.json
  packages/electron/xtask.config.json
  packages/ffi/xtask.config.json
  packages/node/xtask.config.json
  packages/remote/aws-provider-pulumi/xtask.config.json
  packages/remote/aws-provider/xtask.config.json
  packages/remote/aws/xtask.config.json
  packages/remote/cloudflare-provider-pulumi/xtask.config.json
  packages/remote/cloudflare-provider/xtask.config.json
  packages/remote/cloudflare/xtask.config.json
  packages/remote/local-provider/xtask.config.json
  packages/remote/local/xtask.config.json
  packages/tauri/xtask.config.json
  xtask.config.ts
  xtask/.scripts/create-schema.ts
  xtask/README.md
  xtask/config.ts
  xtask/package-config.ts
  xtask/package.json
  xtask/package.ts
  xtask/releasing.spec.ts
  xtask/tsconfig.json
  xtask/versioned-file.ts
Due: oxc
