Repository webview-bundle/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, oxc

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rustfmt:
      glob: '*.rs'
      run: cargo fmt --all
      stage_fixed: true
    clippy:
      glob: '*.rs'
      run: cargo clippy --workspace
    oxc:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,cts,mts,json}'
      run: yarn oxlint {staged_files} --type-aware --fix && yarn oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

wip
  packages/ffi/.gitignore
  packages/ffi/Cargo.toml
  packages/ffi/cli/commands/build-android.ts
  packages/ffi/cli/commands/build-apple.ts
  packages/ffi/cli/zip.ts
  packages/ffi/gen/android/.gitattributes
  packages/ffi/gen/android/.gitignore
  packages/ffi/gen/android/.sdkmanrc
  packages/ffi/gen/android/gradle.properties
  packages/ffi/gen/android/gradle/libs.versions.toml
  packages/ffi/gen/android/gradle/wrapper/gradle-wrapper.jar
  packages/ffi/gen/android/gradle/wrapper/gradle-wrapper.properties
  packages/ffi/gen/android/gradlew
  packages/ffi/gen/android/gradlew.bat
  packages/ffi/gen/android/lib/build.gradle.kts
  packages/ffi/gen/android/lib/src/test/kotlin/dev/wvb/WvbFfiTest.kt
  packages/ffi/gen/android/settings.gradle.kts
  packages/ffi/gen/apple/.gitignore
  packages/ffi/gen/apple/Package.swift
  packages/ffi/gen/apple/Tests/Tests/tests.swift
  packages/ffi/gen/apple/WebViewBundle.swift
  packages/ffi/gen/apple/wvb_ffi.h
  packages/ffi/gen/apple/wvb_ffi.modulemap
  packages/ffi/package.json
  packages/ffi/src/a.rs
  packages/ffi/src/bundle.rs
  packages/ffi/src/error.rs
  packages/ffi/src/http.rs
  packages/ffi/src/integrity.rs
  packages/ffi/src/lib.rs
  packages/ffi/src/mime.rs
  packages/ffi/src/protocol.rs
  packages/ffi/src/remote.rs
  packages/ffi/src/signature.rs
  packages/ffi/src/source.rs
  packages/ffi/src/updater.rs
  packages/ffi/src/version.rs
  yarn.lock
Due: rustfmt, clippy, oxc

fix lib extension
  packages/ffi/cli/commands/build-android.ts
Due: oxc

fix
  packages/ffi/CHANGELOG.md
  packages/ffi/README.md
  packages/ffi/android/.gitignore
  packages/ffi/android/lib-jvm/build.gradle.kts
  packages/ffi/android/lib-jvm/jniLibsForTests/libwvb_ffi.dylib
  packages/ffi/cli/commands/build-android.ts
  packages/ffi/cli/commands/build-apple.ts
Due: oxc

xtask release flow for ffi
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  biome.json
  justfile
  packages/ffi/cli/commands/build-apple.ts
  packages/ffi/xtask.config.json
  xtask/README.md
  xtask/cargo-toml.ts
  xtask/changes.ts
  xtask/cli.ts
  xtask/commands/prepare-release.ts
  xtask/commands/prerelease.ts
  xtask/commands/release.ts
  xtask/consts.ts
  xtask/conventional-commit.spec.ts
  xtask/conventional-commit.ts
  xtask/git.ts
  xtask/github.ts
  xtask/package-config.ts
  xtask/package.json
  xtask/package.ts
  xtask/releasing.ts
  xtask/staged.ts
  xtask/utils.ts
  xtask/version.ts
  xtask/versioned-file.ts
  xtask/versioned-git-tag.ts
  yarn.lock
Due: oxc

fix checksum
  packages/ffi/cli/zip.ts
Due: oxc

fix windows
  xtask/package.ts
  xtask/versioned-file.ts
Due: oxc

feat: update xtask release commands which supports ffi (#141)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  biome.json
  justfile
  packages/ffi/cli/commands/build-apple.ts
  packages/ffi/cli/zip.ts
  packages/ffi/xtask.config.json
  xtask/README.md
  xtask/cargo-toml.ts
  xtask/changes.ts
  xtask/cli.ts
  xtask/commands/prepare-release.ts
  xtask/commands/prerelease.ts
  xtask/commands/release.ts
  xtask/consts.ts
  xtask/conventional-commit.spec.ts
  xtask/conventional-commit.ts
  xtask/git.ts
  xtask/github.ts
  xtask/package-config.ts
  xtask/package.json
  xtask/package.ts
  xtask/releasing.ts
  xtask/staged.ts
  xtask/utils.ts
  xtask/version.ts
  xtask/versioned-file.ts
  xtask/versioned-git-tag.ts
  yarn.lock
Due: oxc

upgrade to 5.0.3
  .github/actions/node-setup/action.yaml
Due: none

chore: upgrade actions/cache version to 5.0.3 (#142)
  .github/actions/node-setup/action.yaml
Due: none

fix
  .github/workflows/release.yaml
Due: none

fix: release build-ffi-android should build all targets (#143)
  .github/workflows/release.yaml
Due: none

upgrade yarn 4.15.0
  .yarn/releases/yarn-4.14.1.cjs
  .yarn/releases/yarn-4.15.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: oxc

upgrade actions which uses nodejs 24
  .github/actions/node-setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

chore: upgrade yarn 4.15.0 (#144)
  .yarn/releases/yarn-4.14.1.cjs
  .yarn/releases/yarn-4.15.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: oxc

if tag already exists just skip
  xtask/commands/prerelease.ts
Due: oxc

`return 1`
  xtask/commands/prerelease.ts
Due: oxc

fix(xtask): exit command when prerelease tag already exists in remote (#146)
  xtask/commands/prerelease.ts
Due: oxc

chore: upgrade actions which uses nodejs 24 (jdx/mise-action, extractions/setup-just) (#145)
  .github/actions/node-setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

fix assets
  packages/ffi/xtask.config.json
Due: oxc

fix(ffi): fix missing xcframework asset (#147)
  packages/ffi/xtask.config.json
Due: oxc

update yarn
  yarn.lock
Due: none

wi[p
  .github/workflows/ci-ffi.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  xtask/commands/release.ts
Due: oxc

feat(ffi): add system WebView integration for Android and iOS
  packages/ffi/README.md
  packages/ffi/android/lib-webview/README.md
  packages/ffi/android/lib-webview/build.gradle.kts
  packages/ffi/android/lib-webview/consumer-rules.pro
  packages/ffi/android/lib-webview/src/main/kotlin/dev/wvb/webview/Assets.kt
  packages/ffi/android/lib-webview/src/main/kotlin/dev/wvb/webview/Conversions.kt
  packages/ffi/android/lib-webview/src/main/kotlin/dev/wvb/webview/Protocol.kt
  packages/ffi/android/lib-webview/src/main/kotlin/dev/wvb/webview/WebViewBundle.kt
  packages/ffi/android/lib-webview/src/main/kotlin/dev/wvb/webview/WebViewBundleClient.kt
  packages/ffi/android/settings.gradle.kts
  packages/ffi/apple/Package.swift
  packages/ffi/apple/Sources/WebViewBundleWebView/Conversions.swift
  packages/ffi/apple/Sources/WebViewBundleWebView/Protocol.swift
  packages/ffi/apple/Sources/WebViewBundleWebView/README.md
  packages/ffi/apple/Sources/WebViewBundleWebView/RequestHandler.swift
  packages/ffi/apple/Sources/WebViewBundleWebView/WebViewBundle.swift
  packages/ffi/apple/Sources/WebViewBundleWebView/WebViewBundleSchemeHandler.swift
  packages/ffi/cli/commands/build-apple.ts
  packages/ffi/cli/commands/test-android.ts
Due: oxc

fix(ffi): intercept Android bundles by host over https, not custom scheme
  packages/ffi/README.md
  packages/ffi/android/lib-webview/README.md
  packages/ffi/android/lib-webview/src/main/kotlin/dev/wvb/webview/Protocol.kt
  packages/ffi/android/lib-webview/src/main/kotlin/dev/wvb/webview/WebViewBundle.kt
Due: none

feat(tauri): wire builtin bundle embedding flow and fix config gaps
  examples/tauri-simple/bundles/.gitignore
  examples/tauri-simple/bundles/manifest.json
  examples/tauri-simple/bundles/versions.json
  examples/tauri-simple/package.json
  examples/tauri-simple/src-tauri/capabilities/default.json
  packages/tauri/README.md
  packages/tauri/api/remote.ts
  packages/tauri/api/source.ts
  packages/tauri/api/updater.ts
  packages/tauri/build.rs
  packages/tauri/permissions/autogenerated/commands/remote_download.toml
  packages/tauri/permissions/autogenerated/commands/remote_download_version.toml
  packages/tauri/permissions/autogenerated/commands/remote_get_info.toml
  packages/tauri/permissions/autogenerated/commands/remote_list_bundles.toml
  packages/tauri/permissions/autogenerated/commands/source_filepath.toml
  packages/tauri/permissions/autogenerated/commands/source_list_bundles.toml
  packages/tauri/permissions/autogenerated/commands/source_load_version.toml
  packages/tauri/permissions/autogenerated/commands/source_update_version.toml
  packages/tauri/permissions/autogenerated/commands/updater_download_update.toml
  packages/tauri/permissions/autogenerated/commands/updater_get_update.toml
  packages/tauri/permissions/autogenerated/commands/updater_list_remotes.toml
  packages/tauri/permissions/autogenerated/reference.md
  packages/tauri/permissions/default.toml
  packages/tauri/permissions/schemas/schema.json
  packages/tauri/src/config.rs
  packages/tauri/src/lib.rs
Due: rustfmt, clippy, oxc

feat(ffi): add WebView demo screens to the test apps
  packages/ffi/android/lib-webview/README.md
  packages/ffi/android/testapp/build.gradle.kts
  packages/ffi/android/testapp/src/main/AndroidManifest.xml
  packages/ffi/android/testapp/src/main/kotlin/dev/wvb/testapp/MainActivity.kt
  packages/ffi/android/testapp/src/main/kotlin/dev/wvb/testapp/WebViewActivity.kt
  packages/ffi/android/testapp/src/main/res/layout/activity_main.xml
  packages/ffi/android/testapp/src/main/res/values/strings.xml
  packages/ffi/apple/Sources/WebViewBundleWebView/README.md
  packages/ffi/apple/ios/Project.swift
  packages/ffi/apple/ios/TestApp/ContentView.swift
  packages/ffi/apple/ios/TestApp/WebViewDemo.swift
Due: none

update
  packages/tauri/package.json
  packages/tauri/src/config.rs
  taplo.toml
Due: rustfmt, clippy, oxc

wip
  packages/core/src/protocol/bundle.rs
  packages/core/src/source/source.rs
  packages/core/src/testing/mock.rs
  packages/core/src/testing/mod.rs
  packages/core/tests/integration.rs
Due: rustfmt, clippy

wip
  packages/core/src/protocol/bundle.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/source.rs
  packages/core/src/testing/mock.rs
  packages/core/src/updater/updater.rs
  packages/core/tests/integration.rs
Due: rustfmt, clippy

wip: download/install update flow + source/updater concurrency hardening
  packages/core/src/reader.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/source.rs
  packages/core/src/updater/updater.rs
  packages/core/src/writer.rs
  packages/core/tests/concurrency.rs
  packages/core/tests/integration.rs
  packages/ffi/src/source.rs
  packages/ffi/src/updater.rs
  packages/node/src/source.rs
  packages/node/src/updater.rs
  packages/tauri/src/commands.rs
Due: rustfmt, clippy

safe concurrency
  packages/core/src/error.rs
  packages/core/src/protocol/mod.rs
  packages/core/src/remote/http.rs
  packages/core/src/remote/remote.rs
  packages/core/src/source/source.rs
  packages/core/src/updater/updater.rs
  packages/core/tests/common/mod.rs
  packages/core/tests/concurrency.rs
  packages/core/tests/integration.rs
  packages/core/tests/protocol.rs
  packages/core/tests/remote.rs
  packages/core/tests/source.rs
  packages/core/tests/updater.rs
Due: rustfmt, clippy

update api
  packages/ffi/src/source.rs
  packages/node/src/source.rs
  packages/tauri/src/commands.rs
Due: rustfmt, clippy

feat: safe bundle update with separating download/install step and remove unused remote bundles after install (#152)
  packages/core/src/error.rs
  packages/core/src/protocol/bundle.rs
  packages/core/src/protocol/mod.rs
  packages/core/src/reader.rs
  packages/core/src/remote/http.rs
  packages/core/src/remote/remote.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/source.rs
  packages/core/src/testing/mock.rs
  packages/core/src/testing/mod.rs
  packages/core/src/updater/updater.rs
  packages/core/src/writer.rs
  packages/core/tests/common/mod.rs
  packages/core/tests/concurrency.rs
  packages/core/tests/protocol.rs
  packages/core/tests/remote.rs
  packages/core/tests/source.rs
  packages/core/tests/updater.rs
  packages/ffi/src/source.rs
  packages/ffi/src/updater.rs
  packages/node/src/source.rs
  packages/node/src/updater.rs
  packages/tauri/src/commands.rs
Due: rustfmt, clippy

chore: Separate ffi workflow in ci and trigger ffi testing only when ffi related files are changed (#151)
  .github/workflows/ci-ffi.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  xtask/commands/release.ts
Due: oxc

wip
  packages/core/src/bundle.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/source.rs
  packages/core/src/updater/updater.rs
  packages/ffi/src/source.rs
  packages/node/index.cjs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/index.js
  packages/node/package.json
  packages/node/scripts/artifacts.ts
  packages/node/src/bundle.rs
  packages/node/src/integrity.rs
  packages/node/src/js.rs
  packages/node/src/protocol.rs
  packages/node/src/remote/remote.rs
  packages/node/src/signature.rs
  packages/node/src/source.rs
  packages/node/src/updater.rs
  packages/node/tests/bundle.spec.ts
  packages/node/tests/remote.spec.ts
  packages/node/tests/source.spec.ts
  packages/node/tests/updater.spec.ts
  packages/node/vitest.config.ts
  packages/tauri/src/commands.rs
Due: rustfmt, clippy, oxc

upgrade ts6
  .yarnrc.yml
  yarn.lock
Due: none

electron ipc
  packages/electron/src/api.ts
  packages/electron/src/ipc-spec.ts
  packages/electron/src/ipc.ts
  packages/electron/src/renderer/api.ts
Due: oxc
