Repository webview-bundle/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, oxc

rustfmt:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --workspace

oxc:
  run: yarn oxlint {staged_files} --type-aware --fix && yarn oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

support exact version to bumping
  .github/workflows/ci-xtask.yaml
  tsconfig.json
  tsconfig.xtask-config.json
  vitest.workspace.ts
  xtask/README.md
  xtask/cargo-toml.spec.ts
  xtask/cargo-toml.ts
  xtask/commands/prepare-release.ts
  xtask/package.json
  xtask/package.ts
  xtask/releasing.spec.ts
  xtask/releasing.ts
  xtask/versioned-file.ts
  xtask/vitest.config.ts
Due: oxc

feat(xtask): support exact version bumping (#216)
  .github/workflows/ci-xtask.yaml
  tsconfig.json
  tsconfig.xtask-config.json
  vitest.workspace.ts
  xtask/README.md
  xtask/cargo-toml.spec.ts
  xtask/cargo-toml.ts
  xtask/commands/prepare-release.ts
  xtask/package.json
  xtask/package.ts
  xtask/releasing.spec.ts
  xtask/releasing.ts
  xtask/versioned-file.ts
  xtask/vitest.config.ts
Due: oxc

fix
  packages/electron/e2e/smoke.spec.ts
  packages/electron/package.json
  yarn.lock
Due: oxc

add hashbang
  packages/cli/src/cli.ts
Due: oxc

accept more values
  packages/cli/src/console.ts
Due: oxc

feat(cli): accept more color options (#218)
  packages/cli/src/cli.ts
  packages/cli/src/console.ts
Due: oxc

unify tsdown config
  packages/cli/package.json
  packages/cli/tsdown.cli.config.ts
  packages/cli/tsdown.config.ts
Due: oxc

fix config
  packages/ffi/src/source.rs
Due: rustfmt, clippy

pin versions
  xtask/versioned-file.ts
Due: oxc

fix(xtask): pin yarn workspace versions when prereleasing (#221)
  xtask/versioned-file.ts
Due: oxc

refactor(cli): unify tsdown config (#219)
  packages/cli/package.json
  packages/cli/tsdown.cli.config.ts
  packages/cli/tsdown.config.ts
Due: oxc

add electron native
  package.json
  playground/native/electron/.gitignore
  playground/native/electron/package.json
  playground/native/electron/package.ts
  playground/native/electron/src/main.ts
  playground/native/electron/src/preload.ts
  playground/native/electron/tsconfig.json
  playground/native/electron/vite.config.ts
  playground/native/electron/vite.preload.config.ts
  playground/native/electron/wvb.config.ts
  playground/remotes/cloudflare/package.json
  playground/remotes/cloudflare/wrangler.sample.jsonc
  playground/tools/env/package.json
  playground/tools/env/src/index.ts
  playground/tools/env/tsconfig.json
  playground/tools/testdriver/package.json
  playground/webviews/hacker-news/package.json
  playground/webviews/hacker-news/wvb.config.ts
  playground/webviews/testbed/package.json
  playground/webviews/testbed/wvb.config.ts
  yarn.config.cjs
  yarn.lock
Due: oxc

fix
  packages/ffi/apple/ios/TestApp/TestRunner.swift
Due: none

feat(playground): add electron native example (#222)
  package.json
  playground/native/electron/.gitignore
  playground/native/electron/package.json
  playground/native/electron/package.ts
  playground/native/electron/src/main.ts
  playground/native/electron/src/preload.ts
  playground/native/electron/tsconfig.json
  playground/native/electron/vite.config.ts
  playground/native/electron/vite.preload.config.ts
  playground/native/electron/wvb.config.ts
  playground/remotes/cloudflare/package.json
  playground/remotes/cloudflare/wrangler.sample.jsonc
  playground/tools/env/package.json
  playground/tools/env/src/index.ts
  playground/tools/env/tsconfig.json
  playground/tools/testdriver/package.json
  playground/webviews/hacker-news/package.json
  playground/webviews/hacker-news/wvb.config.ts
  playground/webviews/testbed/package.json
  playground/webviews/testbed/wvb.config.ts
  yarn.config.cjs
  yarn.lock
Due: oxc

cache downloaded electron binaries
  .github/workflows/ci.yaml
Due: none

feat(ffi): Unify into a single BundleSourceConfig (#220)
  packages/ffi/apple/ios/TestApp/TestRunner.swift
  packages/ffi/src/source.rs
Due: rustfmt, clippy

wip
  package.json
  playground/native/electron-builder/electron-builder.config.ts
  playground/native/electron-builder/package.json
  playground/native/electron-forge/forge.config.ts
  playground/native/electron-forge/package.json
  playground/webviews/testbed/package.json
  playground/webviews/testbed/src/App.tsx
  playground/webviews/testbed/src/main.tsx
  playground/webviews/testbed/src/styles.css
  playground/webviews/testbed/src/vite-env.d.ts
  yarn.lock
Due: oxc

fix
  .github/workflows/ci.yaml
Due: none

ci: cache downloaded electron binaries (#223)
  .github/workflows/ci.yaml
Due: none

fix `hickory_dns` field was not applied
  packages/core/src/remote/http.rs
Due: rustfmt, clippy

remove `hickory_dns` option
  packages/core/Cargo.toml
  packages/core/src/remote/http.rs
  packages/deno/src/lib.rs
  packages/ffi/src/remote.rs
  packages/node/src/remote/http.rs
Due: rustfmt, clippy

fix: remove `hickory_dns` field in `HttpOptions` (#224)
  packages/core/Cargo.toml
  packages/core/src/remote/http.rs
  packages/deno/src/lib.rs
  packages/ffi/src/remote.rs
  packages/node/src/remote/http.rs
Due: rustfmt, clippy

feat(electron): bundle desktop native binaries
  .github/workflows/release.yaml
  biome.json
  packages/electron/README.md
  packages/electron/package.json
  packages/electron/scripts/copy-native.ts
  packages/electron/src/index.ts
  packages/electron/src/native-targets.ts
  packages/electron/src/native.ts
  packages/electron/tests/native-env.spec.ts
  packages/electron/tests/native-ordering.spec.ts
  packages/electron/tests/native-targets.spec.ts
  packages/electron/tsconfig.json
  packages/electron/tsdown.config.ts
  packages/node/binding.cjs
  packages/node/lib/index.ts
  packages/node/lib/native.ts
  packages/node/package.json
  packages/node/scripts/build-napi.ts
  packages/node/scripts/patch-binding.ts
  packages/node/tests/native.spec.ts
Due: oxc

fix(electron-forge): defer builtin-empty check to install result
  packages/electron-builder/src/setup.ts
  packages/electron-forge/src/plugin.ts
Due: oxc

fix(electron-builder, electron-forge): defer builtin-empty check to install result (#226)
  packages/electron-builder/src/setup.ts
  packages/electron-forge/src/plugin.ts
Due: oxc

deno type auto gen, load from github
  .github/workflows/ci.yaml
  Cargo.toml
  biome.json
  justfile
  lefthook.yml
  mise.toml
  packages/deno-desktop/lib/mod.ts
  packages/deno-desktop/lib/webview-bundle.ts
  packages/deno.json
  packages/deno.lock
  packages/deno/Cargo.toml
  packages/deno/lib/bindings.ts
  packages/deno/lib/bundle.ts
  packages/deno/lib/error.ts
  packages/deno/lib/ffi.ts
  packages/deno/lib/install.ts
  packages/deno/lib/integrity.ts
  packages/deno/lib/mod.test.ts
  packages/deno/lib/mod.ts
  packages/deno/lib/protocol.ts
  packages/deno/lib/remote.ts
  packages/deno/lib/source.ts
  packages/deno/lib/updater.ts
  packages/deno/src/bindings.rs
  packages/deno/src/bundle.rs
  packages/deno/src/integrity.rs
  packages/deno/src/lib.rs
  packages/deno/src/protocol.rs
  packages/deno/src/remote.rs
  packages/deno/src/result.rs
  packages/deno/src/signature.rs
  packages/deno/src/source.rs
  packages/deno/src/updater.rs
  taplo.toml
Due: rustfmt, clippy, oxc

works
  packages/electron/.gitignore
  packages/electron/README.md
  packages/electron/package.json
  packages/electron/scripts/copy-native.ts
  packages/electron/scripts/install-node-bindings.ts
  packages/electron/src/index.ts
  packages/electron/src/ipc.ts
  packages/electron/src/native-targets.ts
  packages/electron/src/native.ts
  packages/electron/src/protocol.ts
  packages/electron/src/remote.ts
  packages/electron/src/source.ts
  packages/electron/src/webview-bundle.ts
  packages/electron/tests/native-env.spec.ts
  packages/electron/tests/native-ordering.spec.ts
  packages/electron/tests/native-targets.spec.ts
  packages/electron/tsdown.config.ts
  packages/node/binding.d.cts
  packages/node/lib/api.ts
  packages/node/lib/binding-target.ts
  packages/node/lib/binding.ts
  packages/node/lib/index.ts
  packages/node/lib/native.ts
  packages/node/package.json
  packages/node/scripts/build-napi.ts
  packages/node/scripts/patch-binding.ts
  packages/node/tests/native.spec.ts
  packages/node/tsdown.config.ts
  yarn.lock
Due: oxc

feat(deno,deno-desktop): renaming interfaces, auto typegen with specta (#227)
  .github/workflows/ci.yaml
  Cargo.toml
  biome.json
  justfile
  lefthook.yml
  mise.toml
  packages/deno-desktop/lib/mod.ts
  packages/deno-desktop/lib/webview-bundle.ts
  packages/deno.json
  packages/deno.lock
  packages/deno/Cargo.toml
  packages/deno/lib/bindings.ts
  packages/deno/lib/bundle.ts
  packages/deno/lib/error.ts
  packages/deno/lib/ffi.ts
  packages/deno/lib/install.ts
  packages/deno/lib/integrity.ts
  packages/deno/lib/mod.test.ts
  packages/deno/lib/mod.ts
  packages/deno/lib/protocol.ts
  packages/deno/lib/remote.ts
  packages/deno/lib/source.ts
  packages/deno/lib/updater.ts
  packages/deno/src/bindings.rs
  packages/deno/src/bundle.rs
  packages/deno/src/integrity.rs
  packages/deno/src/lib.rs
  packages/deno/src/protocol.rs
  packages/deno/src/remote.rs
  packages/deno/src/result.rs
  packages/deno/src/signature.rs
  packages/deno/src/source.rs
  packages/deno/src/updater.rs
  taplo.toml
Due: rustfmt, clippy, oxc

fix
  .github/workflows/release.yaml
  packages/electron/src/index.ts
  packages/electron/src/protocol.ts
  packages/electron/src/utils.spec.ts
  packages/electron/src/webview-bundle.ts
  packages/electron/tsdown.config.ts
  packages/electron/vitest.config.ts
  packages/node/lib/binding/binding-target.ts
  packages/node/lib/binding/binding.ts
  packages/node/lib/binding/index.ts
  packages/node/package.json
  packages/node/tsdown.config.ts
Due: oxc

fix(core): handle Windows delete-pending bundle reads
  packages/core/src/source/source.rs
Due: rustfmt, clippy

fix(core): handle Windows delete-pending bundle reads (#229)
  packages/core/src/source/source.rs
Due: rustfmt, clippy

rm comment
  packages/create-webview-bundle/bin/cli.mjs
Due: oxc

ignore `create-*` package attw
  .github/workflows/ci.yaml
Due: none

fix
  packages/create-wvb/src/command.ts
  packages/create-wvb/src/templates.spec.ts
  packages/create-wvb/src/templates.ts
  packages/create-wvb/src/versions.spec.ts
  packages/create-wvb/src/versions.ts
  packages/create-wvb/templates/_shared/web/vite.config.ts
  packages/create-wvb/templates/electron-builder/src/main.ts
Due: oxc

fix(node,electron): address code review feedback
  packages/electron/e2e/fixtures/app/main.cjs
  packages/electron/src/webview-bundle.ts
  packages/node/lib/binding/binding-target.ts
  packages/node/scripts/build-napi.ts
Due: oxc

fix
  packages/electron/vitest.config.ts
Due: oxc

Path conditions:
  rustfmt: any of: *.rs
  clippy: any of: *.rs
  oxc: any of: *.{js,ts,jsx,tsx,cjs,mjs,cts,mts,json}
