Repository webview-bundle/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, oxc

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rustfmt:
      glob: '*.rs'
      run: cargo fmt --all
      stage_fixed: true
    clippy:
      glob: '*.rs'
      run: cargo clippy --workspace
    oxc:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,cts,mts,json}'
      run: yarn oxlint {staged_files} --type-aware --fix && yarn oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

fix(cli): change `--version,-V` arguments in upload command (#185)
  packages/cli/src/commands/upload.ts
Due: oxc

fix(cli): normalize config file default export to a plain object
  packages/cli/src/config.spec.ts
  packages/cli/src/config.ts
Due: oxc

fix(cli): normalize config file default export to a plain object (#186)
  packages/cli/src/config.spec.ts
  packages/cli/src/config.ts
Due: oxc

feat(deno): add @wvb/deno and @wvb/deno-desktop
  Cargo.toml
  biome.json
  packages/deno-desktop/CHANGELOG.md
  packages/deno-desktop/README.md
  packages/deno-desktop/deno.json
  packages/deno-desktop/lib/protocol.ts
  packages/deno-desktop/lib/remote.ts
  packages/deno-desktop/lib/source.test.ts
  packages/deno-desktop/lib/source.ts
  packages/deno-desktop/lib/webview-bundle.test.ts
  packages/deno-desktop/lib/webview-bundle.ts
  packages/deno-desktop/mod.ts
  packages/deno-desktop/xtask.config.json
  packages/deno.json
  packages/deno.lock
  packages/deno/CHANGELOG.md
  packages/deno/Cargo.toml
  packages/deno/README.md
  packages/deno/deno.json
  packages/deno/lib/binding.test.ts
  packages/deno/lib/ffi.ts
  packages/deno/lib/install.test.ts
  packages/deno/lib/install.ts
  packages/deno/lib/protocol.ts
  packages/deno/lib/remote.ts
  packages/deno/lib/source.ts
  packages/deno/lib/updater.ts
  packages/deno/mod.ts
  packages/deno/src/lib.rs
  packages/deno/xtask.config.json
  xtask/changelog.ts
  xtask/releasing.ts
  xtask/versioned-file.ts
Due: rustfmt, clippy, oxc

feat(electron-builder): add @wvb/electron-builder
  packages/electron-builder/CHANGELOG.md
  packages/electron-builder/README.md
  packages/electron-builder/package.json
  packages/electron-builder/src/config.ts
  packages/electron-builder/src/index.ts
  packages/electron-builder/src/integration.spec.ts
  packages/electron-builder/src/integration.ts
  packages/electron-builder/tsconfig.json
  packages/electron-builder/tsdown.config.ts
  packages/electron-builder/vitest.config.ts
  packages/electron-builder/xtask.config.json
Due: oxc

feat(electron-forge): add @wvb/electron-forge
  packages/electron-forge/CHANGELOG.md
  packages/electron-forge/README.md
  packages/electron-forge/package.json
  packages/electron-forge/src/config.ts
  packages/electron-forge/src/index.ts
  packages/electron-forge/src/plugin.ts
  packages/electron-forge/tsconfig.json
  packages/electron-forge/tsdown.config.ts
  packages/electron-forge/xtask.config.json
  yarn.lock
Due: oxc

feat(cli): add tauri/android/ios builtin presets
  packages/cli/README.md
  packages/cli/src/commands/builtin.ts
  packages/cli/src/mobile.spec.ts
  packages/cli/src/mobile.ts
  packages/cli/src/tauri.spec.ts
  packages/cli/src/tauri.ts
  packages/tauri/README.md
Due: oxc

fix(deno): address review feedback
  packages/deno-desktop/README.md
  packages/deno-desktop/lib/protocol.ts
  packages/deno-desktop/lib/source.ts
  packages/deno-desktop/lib/webview-bundle.ts
  packages/deno/README.md
  packages/deno/lib/ffi.ts
  packages/deno/lib/install.ts
  packages/deno/lib/remote.ts
  packages/deno/lib/source.ts
  packages/deno/src/lib.rs
Due: rustfmt, clippy, oxc

fix(cli): address review feedback
  packages/cli/README.md
  packages/cli/src/commands/builtin.ts
  packages/cli/src/mobile.ts
  packages/cli/src/tauri.ts
Due: oxc

fix(electron-builder): address review + regenerate lockfile
  packages/electron-builder/README.md
  packages/electron-builder/src/config.ts
  packages/electron-builder/src/integration.spec.ts
  packages/electron-builder/src/integration.ts
  yarn.lock
Due: oxc

fix(electron-forge): address review + regenerate lockfile
  packages/electron-forge/src/plugin.ts
  yarn.lock
Due: oxc

feat(cli): auto-detect the Android module and iOS project for builtin presets
  packages/cli/README.md
  packages/cli/src/commands/builtin.ts
  packages/cli/src/mobile.spec.ts
  packages/cli/src/mobile.ts
Due: oxc

refactor(cli): make --android/--ios accept a boolean or a path on one flag
  packages/cli/README.md
  packages/cli/src/commands/builtin.spec.ts
  packages/cli/src/commands/builtin.ts
Due: oxc

update
  packages/electron-builder/README.md
  packages/electron-builder/package.json
  packages/electron-builder/src/config.ts
  packages/electron-builder/src/index.ts
  packages/electron-builder/src/integration.spec.ts
  packages/electron-builder/src/setup.ts
  packages/electron-builder/vitest.config.ts
  yarn.lock
Due: oxc

update
  packages/electron-forge/package.json
  packages/electron-forge/src/config.ts
  packages/electron-forge/src/index.ts
  packages/electron-forge/src/plugin.ts
  yarn.lock
Due: oxc

add yarn constraints
  lefthook.yml
  package.json
  yarn.config.cjs
  yarn.lock
Due: oxc

fix
  packages/electron-builder/package.json
  packages/electron-builder/tsconfig.json
Due: oxc

fix(deps): remediate Dependabot security alerts
  package.json
  packages/remote/aws-provider/package.json
  yarn.lock
Due: oxc

feat(electron-forge): add @wvb/electron-forge (#189)
  packages/electron-forge/CHANGELOG.md
  packages/electron-forge/README.md
  packages/electron-forge/package.json
  packages/electron-forge/src/config.ts
  packages/electron-forge/src/index.ts
  packages/electron-forge/src/plugin.ts
  packages/electron-forge/tsconfig.json
  packages/electron-forge/tsdown.config.ts
  packages/electron-forge/xtask.config.json
  yarn.lock
Due: oxc

feat(xtask): add /merge-lockfile bot to auto-resolve yarn.lock conflicts
  .github/workflows/resolve-lockfile.yaml
  xtask/README.md
  xtask/cli.ts
  xtask/commands/resolve-lockfile.ts
  xtask/lockfile-merge.spec.ts
  xtask/lockfile-merge.ts
Due: oxc

refactor(xtask): perform resolve-lockfile git operations with es-git
  .github/workflows/resolve-lockfile.yaml
  xtask/commands/resolve-lockfile.ts
  xtask/lockfile-merge.spec.ts
  xtask/lockfile-merge.ts
Due: oxc

udpate
  .github/workflows/resolve-lockfile.yaml
Due: none

chore: add yarn constraints to check peer dependencies error (#192)
  lefthook.yml
  package.json
  yarn.config.cjs
  yarn.lock
Due: oxc

update
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/api/builtin.ts
  packages/cli/src/commands/builtin.spec.ts
  packages/cli/src/commands/builtin.ts
  packages/cli/src/config.ts
  packages/cli/src/mobile.spec.ts
  packages/cli/src/mobile.ts
  packages/cli/src/tauri.spec.ts
  packages/cli/src/tauri.ts
  packages/tauri/README.md
  yarn.lock
Due: oxc

feat(xtask): add /merge-lockfile bot to auto-resolve yarn.lock conflicts (#194)
  .github/workflows/resolve-lockfile.yaml
  xtask/README.md
  xtask/cli.ts
  xtask/commands/resolve-lockfile.ts
  xtask/lockfile-merge.spec.ts
  xtask/lockfile-merge.ts
Due: oxc

fix: resolve wrokspace workflow
  .github/workflows/resolve-lockfile.yaml
Due: none

fix
  packages/electron-forge/src/plugin.ts
Due: oxc

update
  packages/deno-desktop/README.md
  packages/deno-desktop/deno.json
  packages/deno-desktop/lib/mod.ts
  packages/deno-desktop/lib/source.test.ts
  packages/deno-desktop/lib/webview-bundle.test.ts
  packages/deno-desktop/lib/webview-bundle.ts
  packages/deno-desktop/mod.ts
  packages/deno/README.md
  packages/deno/deno.json
  packages/deno/lib/binding.test.ts
  packages/deno/lib/ffi.ts
  packages/deno/lib/install.test.ts
  packages/deno/lib/mod.ts
  packages/deno/lib/remote.ts
  packages/deno/src/lib.rs
Due: rustfmt, clippy, oxc

true
  packages/cli/src/commands/builtin.ts
Due: oxc

update
  .github/workflows/resolve-lockfile.yaml
  xtask/README.md
  xtask/commands/resolve-lockfile.ts
  xtask/lockfile-merge.spec.ts
  xtask/lockfile-merge.ts
Due: oxc

remove comments
  .github/workflows/resolve-lockfile.yaml
Due: none

fix(deps): remediate Dependabot security alerts (#191)
  package.json
  packages/remote/aws-provider/package.json
  yarn.lock
Due: oxc

fix(xtask): improve resolve lockfile reaction (#195)
  .github/workflows/resolve-lockfile.yaml
  xtask/README.md
  xtask/commands/resolve-lockfile.ts
  xtask/lockfile-merge.spec.ts
  xtask/lockfile-merge.ts
Due: oxc

feat(electron-builder): add @wvb/electron-builder (#188)
  packages/electron-builder/CHANGELOG.md
  packages/electron-builder/README.md
  packages/electron-builder/package.json
  packages/electron-builder/src/config.ts
  packages/electron-builder/src/index.ts
  packages/electron-builder/src/setup.ts
  packages/electron-builder/tsconfig.json
  packages/electron-builder/tsdown.config.ts
  packages/electron-builder/xtask.config.json
  yarn.lock
Due: oxc

fix
  packages/electron-builder/src/setup.ts
Due: oxc

feat(cli): add android/ios builtin presets (#190)
  packages/cli/package.json
  packages/cli/src/api/builtin.ts
  packages/cli/src/commands/builtin.ts
  packages/cli/src/config.ts
  packages/cli/src/mobile.spec.ts
  packages/cli/src/mobile.ts
  packages/electron-builder/src/setup.ts
  packages/electron-forge/src/plugin.ts
  packages/tauri/README.md
  yarn.lock
Due: oxc

base64
  packages/config/src/remote/integrity.spec.ts
  packages/config/src/remote/integrity.ts
Due: oxc

fix core
  Cargo.toml
  packages/core/Cargo.toml
  packages/core/src/builder.rs
  packages/core/src/bundle.rs
  packages/core/src/index.rs
  packages/core/src/integrity/integrity.rs
  packages/core/src/integrity/mod.rs
  packages/core/src/integrity/policy.rs
  packages/core/src/signature/ecdsa_secp256r1.rs
  packages/core/src/signature/ecdsa_secp384r1.rs
  packages/core/src/signature/ed25519.rs
  packages/core/src/signature/rsa_pkcs1_v1_5.rs
  packages/core/src/signature/rsa_pss.rs
  packages/core/src/testing/mock.rs
Due: rustfmt, clippy

add test
  packages/node/tests/integrity-and-signature.spec.ts
Due: oxc

update tauri
  packages/tauri/Cargo.toml
  packages/tauri/src/config.rs
  packages/tauri/src/desktop.rs
  packages/tauri/src/lib.rs
Due: rustfmt, clippy
