Repository webview-bundle/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, oxc

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rustfmt:
      glob: '*.rs'
      run: cargo fmt --all
      stage_fixed: true
    clippy:
      glob: '*.rs'
      run: cargo clippy --workspace
    oxc:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,cts,mts,json}'
      run: yarn oxlint {staged_files} --type-aware --fix && yarn oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

chore: upgrade typescript 6.0.3 (#154)
  .yarnrc.yml
  yarn.lock
Due: none

update
  packages/tauri/api/source.ts
  packages/tauri/api/updater.ts
  packages/tauri/src/commands.rs
  packages/tauri/src/lib.rs
Due: rustfmt, clippy, oxc

fix format
  packages/tauri/e2e/fixtures/app/src-tauri/Cargo.toml
  packages/tauri/permissions/autogenerated/commands/remote_download.toml
  packages/tauri/permissions/autogenerated/commands/remote_download_version.toml
  packages/tauri/permissions/autogenerated/commands/remote_get_info.toml
  packages/tauri/permissions/autogenerated/commands/remote_list_bundles.toml
  packages/tauri/permissions/autogenerated/commands/source_get_builtin_bundle_filepath.toml
  packages/tauri/permissions/autogenerated/commands/source_get_remote_bundle_filepath.toml
  packages/tauri/permissions/autogenerated/commands/source_list_bundles.toml
  packages/tauri/permissions/autogenerated/commands/source_load_builtin_metadata.toml
  packages/tauri/permissions/autogenerated/commands/source_load_remote_metadata.toml
  packages/tauri/permissions/autogenerated/commands/source_load_version.toml
  packages/tauri/permissions/autogenerated/commands/source_prune_remote_bundles.toml
  packages/tauri/permissions/autogenerated/commands/source_remote_retained_versions.toml
  packages/tauri/permissions/autogenerated/commands/source_remove_remote_bundle.toml
  packages/tauri/permissions/autogenerated/commands/source_resolve_filepath.toml
  packages/tauri/permissions/autogenerated/commands/source_unload_descriptor.toml
  packages/tauri/permissions/autogenerated/commands/source_update_version.toml
  packages/tauri/permissions/autogenerated/commands/updater_download.toml
  packages/tauri/permissions/autogenerated/commands/updater_get_update.toml
  packages/tauri/permissions/autogenerated/commands/updater_install.toml
  packages/tauri/permissions/autogenerated/commands/updater_list_remotes.toml
Due: none

exclude autogenerated
  taplo.toml
Due: none

setup for tauri
  .github/workflows/ci.yaml
Due: none

fix
  packages/tauri/e2e/fixtures/app/src-tauri/icons/128x128.png
  packages/tauri/e2e/fixtures/app/src-tauri/icons/128x128@2x.png
  packages/tauri/e2e/fixtures/app/src-tauri/icons/32x32.png
  packages/tauri/e2e/fixtures/app/src-tauri/icons/Square107x107Logo.png
  packages/tauri/e2e/fixtures/app/src-tauri/icons/Square142x142Logo.png
  packages/tauri/e2e/fixtures/app/src-tauri/icons/Square150x150Logo.png
  packages/tauri/e2e/fixtures/app/src-tauri/icons/Square284x284Logo.png
  packages/tauri/e2e/fixtures/app/src-tauri/icons/Square30x30Logo.png
  packages/tauri/e2e/fixtures/app/src-tauri/icons/Square310x310Logo.png
  packages/tauri/e2e/fixtures/app/src-tauri/icons/Square44x44Logo.png
  packages/tauri/e2e/fixtures/app/src-tauri/icons/Square71x71Logo.png
  packages/tauri/e2e/fixtures/app/src-tauri/icons/Square89x89Logo.png
  packages/tauri/e2e/fixtures/app/src-tauri/icons/StoreLogo.png
  packages/tauri/e2e/fixtures/app/src-tauri/icons/icon.icns
  packages/tauri/e2e/fixtures/app/src-tauri/icons/icon.ico
  packages/tauri/e2e/fixtures/app/src-tauri/icons/icon.png
  packages/tauri/e2e/fixtures/app/src-tauri/tauri.conf.json
Due: oxc

fix
  .github/workflows/ci.yaml
Due: none

fix ci
  .github/workflows/ci.yaml
Due: none

fix
  packages/tauri/permissions/autogenerated/commands/remote_download.toml
  packages/tauri/permissions/autogenerated/commands/remote_download_version.toml
  packages/tauri/permissions/autogenerated/commands/remote_get_info.toml
  packages/tauri/permissions/autogenerated/commands/remote_list_bundles.toml
  packages/tauri/permissions/autogenerated/commands/source_get_builtin_bundle_filepath.toml
  packages/tauri/permissions/autogenerated/commands/source_get_remote_bundle_filepath.toml
  packages/tauri/permissions/autogenerated/commands/source_list_bundles.toml
  packages/tauri/permissions/autogenerated/commands/source_load_builtin_metadata.toml
  packages/tauri/permissions/autogenerated/commands/source_load_remote_metadata.toml
  packages/tauri/permissions/autogenerated/commands/source_load_version.toml
  packages/tauri/permissions/autogenerated/commands/source_prune_remote_bundles.toml
  packages/tauri/permissions/autogenerated/commands/source_remote_retained_versions.toml
  packages/tauri/permissions/autogenerated/commands/source_remove_remote_bundle.toml
  packages/tauri/permissions/autogenerated/commands/source_resolve_filepath.toml
  packages/tauri/permissions/autogenerated/commands/source_unload_descriptor.toml
  packages/tauri/permissions/autogenerated/commands/source_update_version.toml
  packages/tauri/permissions/autogenerated/commands/updater_download.toml
  packages/tauri/permissions/autogenerated/commands/updater_get_update.toml
  packages/tauri/permissions/autogenerated/commands/updater_install.toml
  packages/tauri/permissions/autogenerated/commands/updater_list_remotes.toml
Due: none

fix resolve remote dir
  packages/tauri/src/config.rs
Due: rustfmt, clippy

fix(tauri): fix cargo publish (#157)
  packages/tauri/permissions/autogenerated/commands/remote_download.toml
  packages/tauri/permissions/autogenerated/commands/remote_download_version.toml
  packages/tauri/permissions/autogenerated/commands/remote_get_info.toml
  packages/tauri/permissions/autogenerated/commands/remote_list_bundles.toml
  packages/tauri/permissions/autogenerated/commands/source_get_builtin_bundle_filepath.toml
  packages/tauri/permissions/autogenerated/commands/source_get_remote_bundle_filepath.toml
  packages/tauri/permissions/autogenerated/commands/source_list_bundles.toml
  packages/tauri/permissions/autogenerated/commands/source_load_builtin_metadata.toml
  packages/tauri/permissions/autogenerated/commands/source_load_remote_metadata.toml
  packages/tauri/permissions/autogenerated/commands/source_load_version.toml
  packages/tauri/permissions/autogenerated/commands/source_prune_remote_bundles.toml
  packages/tauri/permissions/autogenerated/commands/source_remote_retained_versions.toml
  packages/tauri/permissions/autogenerated/commands/source_remove_remote_bundle.toml
  packages/tauri/permissions/autogenerated/commands/source_resolve_filepath.toml
  packages/tauri/permissions/autogenerated/commands/source_unload_descriptor.toml
  packages/tauri/permissions/autogenerated/commands/source_update_version.toml
  packages/tauri/permissions/autogenerated/commands/updater_download.toml
  packages/tauri/permissions/autogenerated/commands/updater_get_update.toml
  packages/tauri/permissions/autogenerated/commands/updater_install.toml
  packages/tauri/permissions/autogenerated/commands/updater_list_remotes.toml
Due: none

fix(tauri): fix resolve remote dir (#158)
  packages/tauri/src/config.rs
Due: rustfmt, clippy

fix
  vitest.workspace.ts
Due: oxc

impl
  packages/cli/package.json
  packages/cli/src/api/builtin.ts
  packages/cli/src/api/extract.ts
  packages/cli/src/api/pack.ts
  packages/cli/src/api/serve.ts
  packages/cli/src/api/upload.ts
  packages/cli/src/commands/builtin.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/download.ts
  packages/cli/src/commands/pack.ts
  packages/cli/src/commands/remote/local.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/commands/upload.ts
  packages/cli/src/config.ts
  packages/cli/src/fs.ts
  packages/cli/src/index.ts
  packages/cli/src/log.ts
  packages/config/package.json
  packages/config/src/builtin.ts
  packages/config/src/common.ts
  packages/config/src/index.ts
  packages/config/src/pack.ts
  packages/config/src/remote/config.ts
  packages/config/tsdown.config.ts
Due: oxc

fix
  packages/cli/src/api/builtin.ts
  packages/cli/src/commands/download.ts
  packages/cli/src/commands/remote/current.ts
Due: oxc

update yarn
  yarn.lock
Due: none

remove unused docker compose
  docker-compose.yaml
Due: none

add `content-length` header
  packages/remote/local-provider/src/remote.ts
  packages/remote/local/src/api/bundles.ts
  packages/remote/local/src/api/index.ts
Due: oxc

chore: remove unused docker compose file (#161)
  docker-compose.yaml
Due: none

fix
  packages/remote/local-provider/src/remote.ts
Due: oxc

fix download concurrency option is not assign
  packages/cli/src/commands/builtin.ts
Due: oxc

remove unused code
  packages/cli/src/fs.ts
Due: oxc

fix
  packages/cli/src/commands/upload.ts
Due: oxc

export
  packages/cli/src/api/index.ts
Due: oxc

set total bytes as optional
  packages/cli/src/api/builtin.ts
  packages/core/src/remote/remote.rs
  packages/core/src/source/source.rs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/src/remote/remote.rs
  packages/tauri/src/config.rs
Due: rustfmt, clippy, oxc

fix(remote-local): add missing `content-length` header (#162)
  packages/remote/local-provider/src/remote.ts
  packages/remote/local/src/api/bundles.ts
  packages/remote/local/src/api/index.ts
Due: oxc

feat(cli,config): add local builtin installation option (#160)
  packages/cli/package.json
  packages/cli/src/api/builtin.ts
  packages/cli/src/api/extract.ts
  packages/cli/src/api/index.ts
  packages/cli/src/api/pack.ts
  packages/cli/src/api/serve.ts
  packages/cli/src/api/upload.ts
  packages/cli/src/commands/builtin.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/download.ts
  packages/cli/src/commands/pack.ts
  packages/cli/src/commands/remote/current.ts
  packages/cli/src/commands/remote/local.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/commands/upload.ts
  packages/cli/src/config.ts
  packages/cli/src/fs.ts
  packages/cli/src/index.ts
  packages/cli/src/log.ts
  packages/config/package.json
  packages/config/src/builtin.ts
  packages/config/src/common.ts
  packages/config/src/index.ts
  packages/config/src/pack.ts
  packages/config/src/remote/config.ts
  packages/config/tsdown.config.ts
  vitest.workspace.ts
  yarn.lock
Due: oxc

fix
  packages/cli/src/api/builtin.ts
  packages/cli/src/commands/download.ts
Due: oxc

fix(core): set total bytes as optional (#163)
  packages/cli/src/api/builtin.ts
  packages/cli/src/commands/download.ts
  packages/core/src/remote/remote.rs
  packages/core/src/source/source.rs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/src/remote/remote.rs
  packages/tauri/src/config.rs
Due: rustfmt, clippy, oxc

pin alloc-no-stdlib
  packages/tauri/Cargo.toml
Due: none

fix
  packages/tauri/Cargo.toml
Due: none

fix(tauri): fix build failed which cause from `alloc-no-stdlib` (#165)
  packages/tauri/Cargo.toml
Due: none

refactor(cli,config): collapse pack outDir + outFileName into single outFile
  packages/cli/src/api/builtin.ts
  packages/cli/src/api/pack.ts
  packages/cli/src/commands/pack.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/commands/upload.ts
  packages/cli/src/config.ts
  packages/config/src/pack.ts
Due: oxc

update e2e tests
  .gitignore
  packages/electron/e2e/bundle-protocol.spec.ts
  packages/electron/e2e/fixtures/app/bundles/hacker-news/hacker-news_0.0.1.wvb
  packages/electron/e2e/fixtures/app/bundles/manifest.json
  packages/electron/e2e/fixtures/app/bundles/next/next_1.0.0.wvb
  packages/electron/e2e/fixtures/app/main.cjs
  packages/electron/e2e/smoke.spec.ts
  packages/electron/package.json
  packages/tauri/e2e/fixtures/app/bundles/hacker-news/hacker-news_0.0.1.wvb
  packages/tauri/e2e/fixtures/app/bundles/manifest.json
  packages/tauri/e2e/fixtures/app/bundles/next/next_1.0.0.wvb
  packages/tauri/e2e/fixtures/app/src-tauri/src/lib.rs
  packages/tauri/e2e/fixtures/app/src-tauri/tauri.conf.json
  packages/tauri/e2e/smoke.spec.ts
  packages/tauri/package.json
  yarn.lock
Due: rustfmt, clippy, oxc

refactor(cli,config): collapse pack outDir + outFileName into single outFile (#166)
  packages/cli/src/api/builtin.ts
  packages/cli/src/api/pack.ts
  packages/cli/src/commands/pack.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/commands/upload.ts
  packages/cli/src/config.ts
  packages/config/src/pack.ts
Due: oxc

fix
  .yarnrc.yml
  packages/electron/package.json
  packages/tauri/package.json
  yarn.lock
Due: oxc

update
  packages/electron/e2e/fixtures/app/bundles/hacker-news/hacker-news_0.0.1.wvb
  packages/tauri/e2e/fixtures/app/bundles/hacker-news/hacker-news_0.0.1.wvb
Due: none
