Repository webview-bundle/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, oxc

rustfmt:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --workspace

oxc:
  run: yarn oxlint {staged_files} --type-aware --fix && yarn oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

ts7
  .yarnrc.yml
  yarn.lock
Due: none

chore: upgrade typescript 7 (#233)
  .yarnrc.yml
  yarn.lock
Due: none

update
  packages/bridge/src/error.ts
  packages/bridge/src/index.ts
  packages/electron/src/index.ts
  packages/electron/src/protocol.ts
  packages/node/binding.cjs
  packages/node/binding.d.cts
  packages/node/lib/api.ts
  packages/node/lib/binding/binding-target.ts
  packages/node/lib/binding/binding.ts
  packages/node/lib/binding/index.ts
  packages/node/lib/error.ts
  packages/node/lib/index.ts
  packages/node/lib/wrap.ts
  packages/node/scripts/build-napi.ts
  packages/node/src/bundle.rs
  packages/node/src/error.rs
  packages/node/src/integrity.rs
  packages/node/src/lib.rs
  packages/node/src/protocol.rs
  packages/node/src/remote/remote.rs
  packages/node/src/signature.rs
  packages/node/src/source.rs
  packages/node/src/updater.rs
  packages/node/tests/protocol.spec.ts
  packages/node/tests/remote.spec.ts
  packages/node/tests/source.spec.ts
  packages/node/tests/verification.spec.ts
  packages/node/tsconfig.json
Due: rustfmt, clippy, oxc

add `pathResolver` option and tests
  packages/cli/src/api/builtin.spec.ts
  packages/cli/src/api/index.ts
  packages/cli/src/api/pack.spec.ts
  packages/cli/src/api/remote/local.spec.ts
  packages/cli/src/api/remote/local.ts
  packages/cli/src/api/serve.spec.ts
  packages/cli/src/api/serve.ts
  packages/cli/src/api/unpack.spec.ts
  packages/cli/src/api/unpack.ts
  packages/cli/src/api/upload.spec.ts
  packages/cli/src/cli.ts
  packages/cli/src/commands/remote/local.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/commands/unpack.ts
  packages/config/src/serve.ts
  packages/node/binding.d.cts
Due: oxc

feat(cli): `extract` -> `unpack` rename command, add `pathResolver` option and tests (#235)
  packages/cli/src/api/builtin.spec.ts
  packages/cli/src/api/index.ts
  packages/cli/src/api/pack.spec.ts
  packages/cli/src/api/remote/local.spec.ts
  packages/cli/src/api/remote/local.ts
  packages/cli/src/api/serve.spec.ts
  packages/cli/src/api/serve.ts
  packages/cli/src/api/unpack.spec.ts
  packages/cli/src/api/unpack.ts
  packages/cli/src/api/upload.spec.ts
  packages/cli/src/cli.ts
  packages/cli/src/commands/remote/local.ts
  packages/cli/src/commands/serve.ts
  packages/cli/src/commands/unpack.ts
  packages/config/src/serve.ts
Due: oxc

wip
  packages/core/src/error.rs
  packages/core/src/protocol/bundle.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/source.rs
  packages/core/src/source/utils.rs
  packages/core/src/testing/mock.rs
  packages/core/src/updater/updater.rs
  packages/core/tests/concurrency.rs
  packages/core/tests/fixtures/bundles/builtin/app/1.0.0.wvb
  packages/core/tests/fixtures/bundles/builtin/manifest.json
  packages/core/tests/fixtures/bundles/remote/app/1.0.0.wvb
  packages/core/tests/fixtures/bundles/remote/app/1.1.0.wvb
  packages/core/tests/fixtures/bundles/remote/manifest.json
  packages/core/tests/source.rs
  packages/core/tests/updater.rs
  packages/core/tests/verification.rs
  packages/deno/src/source.rs
  packages/ffi/src/source.rs
  packages/node/src/source.rs
  packages/tauri/src/commands.rs
Due: rustfmt, clippy, oxc

wip
  packages/core/src/updater/mod.rs
  packages/core/src/updater/remote.rs
  packages/core/src/updater/update.rs
Due: rustfmt, clippy

wip
  Cargo.toml
  packages/core/Cargo.toml
  packages/core/src/error.rs
  packages/core/src/lib.rs
  packages/core/src/remote/config.rs
  packages/core/src/remote/dto.rs
  packages/core/src/remote/http.rs
  packages/core/src/remote/mod.rs
  packages/core/src/remote/options.rs
  packages/core/src/remote/remote.rs
  packages/core/src/remote/sfv.rs
  packages/core/src/remote/streaming.rs
  packages/core/src/remote/tmp.rs
  packages/core/src/remote/types.rs
  packages/core/src/source/kind.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/mod.rs
  packages/core/src/source/source.rs
  packages/core/src/source/types.rs
  packages/core/src/source/version.rs
  packages/core/src/testing/mock.rs
  packages/core/src/updater/dto.rs
  packages/core/src/updater/mod.rs
  packages/core/src/updater/tmp_file.rs
  packages/core/src/updater/types.rs
  packages/core/src/updater/update_file.rs
  packages/core/src/updater/updater.rs
  packages/core/src/util/cancellation.rs
  packages/core/src/util/fs.rs
  packages/core/src/util/mod.rs
  packages/deno/src/source.rs
  packages/ffi/src/source.rs
  packages/node/src/source.rs
  packages/tauri/src/commands.rs
Due: rustfmt, clippy

wip
  packages/core/src/source/manifest.rs
  packages/core/src/source/source.rs
  packages/core/src/source/types.rs
  packages/core/src/updater/updater.rs
  packages/core/tests/fixtures/bundles/builtin/manifest.json
  packages/core/tests/fixtures/bundles/remote/manifest.json
  packages/deno/src/source.rs
  packages/ffi/src/source.rs
  packages/node/src/source.rs
  packages/tauri/src/commands.rs
Due: rustfmt, clippy, oxc

wip
  packages/core/Cargo.toml
  packages/core/src/integrity/check.rs
  packages/core/src/integrity/mod.rs
  packages/core/src/integrity/verify.rs
  packages/core/src/remote/remote.rs
  packages/core/src/signature/alg.rs
  packages/core/src/signature/ecdsa_secp256r1.rs
  packages/core/src/signature/ecdsa_secp384r1.rs
  packages/core/src/signature/ed25519.rs
  packages/core/src/signature/key.rs
  packages/core/src/signature/mod.rs
  packages/core/src/signature/rsa_pkcs1_v1_5_sha256.rs
  packages/core/src/signature/rsa_pss_sha256.rs
  packages/core/src/signature/verify.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/source.rs
  packages/core/src/updater/options.rs
  packages/core/src/updater/types.rs
  packages/core/src/updater/updater.rs
  packages/core/tests/concurrency.rs
  packages/core/tests/updater.rs
  packages/core/tests/verification.rs
  packages/deno/Cargo.toml
  packages/deno/src/signature.rs
  packages/deno/src/source.rs
  packages/ffi/src/signature.rs
  packages/ffi/src/source.rs
  packages/node/src/signature.rs
  packages/node/src/source.rs
  packages/tauri/Cargo.toml
  packages/tauri/src/commands.rs
  packages/tauri/src/lib.rs
Due: rustfmt, clippy

wip
  Cargo.toml
  packages/core/Cargo.toml
  packages/core/src/consts.rs
  packages/core/src/error.rs
  packages/core/src/remote/consts.rs
  packages/core/src/remote/mod.rs
  packages/core/src/remote/remote.rs
  packages/core/src/remote/streaming.rs
  packages/core/src/remote/types.rs
  packages/core/src/signature/alg.rs
  packages/core/src/signature/ecdsa_secp256r1.rs
  packages/core/src/signature/ecdsa_secp384r1.rs
  packages/core/src/signature/ed25519.rs
  packages/core/src/signature/key.rs
  packages/core/src/signature/mod.rs
  packages/core/src/signature/rsa_pkcs1_v1_5_sha256.rs
  packages/core/src/signature/rsa_pss_sha256.rs
  packages/core/src/signature/verify.rs
  packages/core/src/source/source.rs
  packages/core/src/source/types.rs
  packages/core/src/testing/bundle.rs
  packages/core/src/testing/bundle_collection.rs
  packages/core/src/testing/mock.rs
  packages/core/src/testing/mod.rs
  packages/core/src/testing/remote_server.rs
  packages/core/src/testing/source.rs
  packages/core/src/testing/temp.rs
  packages/core/src/updater/options.rs
  packages/core/src/updater/updater.rs
  packages/deno/Cargo.toml
  packages/ffi/src/updater.rs
  packages/node/src/updater.rs
  packages/tauri/Cargo.toml
Due: rustfmt, clippy

wip
  packages/core/src/error.rs
  packages/core/src/integrity/mod.rs
  packages/core/src/lib.rs
  packages/core/src/remote/mod.rs
  packages/core/src/remote/remote.rs
  packages/core/src/remote/tmp.rs
  packages/core/src/signature/ecdsa_secp256r1.rs
  packages/core/src/signature/ecdsa_secp384r1.rs
  packages/core/src/signature/ed25519.rs
  packages/core/src/source/manifest.rs
  packages/core/src/source/mod.rs
  packages/core/src/source/source.rs
  packages/core/src/testing/bundle.rs
  packages/core/src/testing/bundle_collection.rs
  packages/core/src/testing/mock.rs
  packages/core/src/testing/mod.rs
  packages/core/src/testing/source.rs
  packages/core/src/updater/mod.rs
  packages/core/src/updater/options.rs
  packages/core/src/updater/types.rs
  packages/core/src/updater/updater.rs
  packages/core/tests/common/mod.rs
  packages/core/tests/concurrency.rs
  packages/core/tests/protocol.rs
  packages/core/tests/remote.rs
  packages/core/tests/source.rs
  packages/core/tests/updater.rs
  packages/core/tests/verification.rs
Due: rustfmt, clippy

wip
  packages/core/Cargo.toml
  packages/core/src/updater/types.rs
Due: rustfmt, clippy

update
  packages/electron/src/api.ts
  packages/electron/src/index.ts
  packages/electron/src/invoke-spec.ts
  packages/electron/src/ipc.ts
  packages/electron/src/protocol.ts
  packages/electron/src/remote.ts
  packages/electron/src/source.ts
  packages/electron/src/webview-bundle.ts
  packages/node/binding.d.cts
  packages/node/lib/binding/binding.ts
  packages/node/lib/binding/index.ts
  packages/node/lib/error.ts
  packages/node/lib/index.ts
  packages/node/package.json
  packages/node/scripts/build-napi.ts
  packages/node/src/error.rs
  packages/node/src/integrity.rs
  packages/node/src/lib.rs
  packages/node/src/protocol.rs
  packages/node/src/remote/remote.rs
  packages/node/src/signature.rs
  packages/node/src/source.rs
  packages/node/src/updater.rs
  packages/node/tests/errors.ts
  packages/node/tests/remote.spec.ts
  packages/node/tests/verification.spec.ts
  yarn.lock
Due: rustfmt, clippy, oxc

fix
  packages/cli/src/api/builtin.spec.ts
  packages/cli/src/api/builtin.ts
  packages/cli/src/api/remote/logging.ts
  packages/cli/src/api/serve.spec.ts
  packages/cli/src/api/serve.ts
  packages/cli/src/commands/download.ts
  packages/cli/src/commands/remote/current.ts
  packages/cli/src/commands/remote/list.ts
  packages/cli/src/commands/serve.ts
  packages/config/src/serve.ts
Due: oxc

fix
  packages/cli/src/api/builtin.spec.ts
  packages/cli/src/api/builtin.ts
  packages/cli/src/api/serve.spec.ts
Due: oxc

fix
  Cargo.toml
  packages/core/Cargo.toml
  packages/core/src/protocol/proxy.rs
  packages/core/src/remote/http.rs
Due: rustfmt, clippy

format
  Cargo.toml
Due: none

fix
  packages/electron/e2e/fixtures/app/bundles/manifest.json
Due: oxc

fix
  packages/electron/e2e/fixtures/app/bundles/hacker-news/0.0.1.wvb
Due: none

upgrade yarn 4.18.0
  .yarn/releases/yarn-4.17.1.cjs
  .yarn/releases/yarn-4.18.0.cjs
  .yarnrc.yml
  package.json
Due: oxc

chore: upgrade yarn 4.18.0 (#238)
  .yarn/releases/yarn-4.17.1.cjs
  .yarn/releases/yarn-4.18.0.cjs
  .yarnrc.yml
  package.json
Due: oxc

upgrade
  packages/cli/package.json
  packages/node/package.json
  packages/remote/aws-provider/package.json
  packages/remote/cloudflare-provider/package.json
  packages/remote/local-provider/package.json
  yarn.lock
Due: oxc

update comments
  packages/core/src/bundle.rs
  packages/core/src/integrity/mod.rs
  packages/core/src/lib.rs
  packages/core/src/remote/types.rs
  packages/core/src/signature/mod.rs
  packages/core/src/updater/types.rs
  packages/deno-desktop/lib/webview-bundle.ts
  packages/deno/lib/bindings.ts
  packages/deno/lib/cancellation.ts
  packages/deno/lib/remote.ts
  packages/deno/lib/updater.ts
  packages/deno/src/bindings.rs
  packages/deno/src/remote.rs
  packages/electron/src/protocol.ts
  packages/electron/src/remote.ts
  packages/electron/src/source.ts
  packages/electron/src/webview-bundle.ts
  packages/ffi/src/lib.rs
  packages/ffi/src/remote.rs
  packages/ffi/src/source.rs
  packages/node/src/lib.rs
  packages/node/src/remote/remote.rs
  packages/tauri/src/config.rs
  packages/tauri/src/lib.rs
Due: rustfmt, clippy, oxc

only hashes root yarn.lock
  .github/actions/node-setup/action.yaml
Due: none

fix: only hashes root yarn.lock (#241)
  .github/actions/node-setup/action.yaml
Due: none

refactor: update comments for reference documents (#239)
  packages/core/src/bundle.rs
  packages/core/src/integrity/mod.rs
  packages/core/src/lib.rs
  packages/core/src/remote/types.rs
  packages/core/src/signature/mod.rs
  packages/core/src/updater/types.rs
  packages/deno-desktop/lib/webview-bundle.ts
  packages/deno/lib/bindings.ts
  packages/deno/lib/cancellation.ts
  packages/deno/lib/remote.ts
  packages/deno/lib/updater.ts
  packages/deno/src/bindings.rs
  packages/deno/src/remote.rs
  packages/electron/src/protocol.ts
  packages/electron/src/remote.ts
  packages/electron/src/source.ts
  packages/electron/src/webview-bundle.ts
  packages/ffi/src/lib.rs
  packages/ffi/src/remote.rs
  packages/ffi/src/source.rs
  packages/node/src/lib.rs
  packages/node/src/remote/remote.rs
  packages/tauri/src/config.rs
  packages/tauri/src/lib.rs
Due: rustfmt, clippy, oxc

change to e2e framework
  .github/workflows/ci-ffi.yaml
  .gitignore
  packages/ffi/android/lib-android/src/main/jniLibs/arm64-v8a/libwvb_ffi.so
  packages/ffi/android/lib-android/src/main/jniLibs/armeabi-v7a/libwvb_ffi.so
  packages/ffi/android/lib-android/src/main/jniLibs/x86/libwvb_ffi.so
  packages/ffi/android/lib-android/src/main/jniLibs/x86_64/libwvb_ffi.so
  packages/ffi/android/lib-android/src/main/kotlin/dev/wvb/wvb_ffi.kt
  packages/ffi/android/lib-jvm/jniLibsForTests/libwvb_ffi.dylib
  packages/ffi/android/lib-jvm/src/main/kotlin/dev/wvb/wvb_ffi.kt
  packages/ffi/apple/ios/TestApp/ContentView.swift
  packages/ffi/cli/commands/test-apple.ts
  packages/ffi/e2e.config.ts
  packages/ffi/e2e/android.spec.ts
  packages/ffi/e2e/appium.ts
  packages/ffi/e2e/apple.spec.ts
  packages/ffi/e2e/device.ts
  packages/ffi/e2e/native.e2e.ts
  packages/ffi/e2e/vitest.e2e-ffi.config.ts
  packages/ffi/package.json
  yarn.lock
Due: oxc

cache
  .github/workflows/ci-ffi.yaml
Due: none

upgrade yarn 4.18.1
  .yarn/releases/yarn-4.18.0.cjs
  .yarn/releases/yarn-4.18.1.cjs
  .yarnrc.yml
  package.json
Due: oxc

tsdown 0.23.0 upgrade
  .yarnrc.yml
  playground/webviews/hacker-news/src/routes/index.tsx
  yarn.lock
Due: oxc

test timeout up to 10s
  vitest.workspace.ts
Due: oxc

chore: upgrade yarn 4.18.1 (#244)
  .yarn/releases/yarn-4.18.0.cjs
  .yarn/releases/yarn-4.18.1.cjs
  .yarnrc.yml
  package.json
Due: oxc

rollback
  vitest.workspace.ts
Due: oxc

test timeout 10s
  packages/cli/vitest.config.ts
Due: oxc

chore: upgrade tsdown 0.23.0 (#245)
  .yarnrc.yml
  playground/webviews/hacker-news/src/routes/index.tsx
  yarn.lock
Due: oxc

add setup ffi command
  justfile
Due: none

Path conditions:
  rustfmt: any of: *.rs
  clippy: any of: *.rs
  oxc: any of: *.{js,ts,jsx,tsx,cjs,mjs,cts,mts,json}
