Repository webview-bundle/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, oxc

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rustfmt:
      glob: '*.rs'
      run: cargo fmt --all
      stage_fixed: true
    clippy:
      glob: '*.rs'
      run: cargo clippy --workspace
    oxc:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,cts,mts,json}'
      run: yarn oxlint {staged_files} --type-aware --fix && yarn oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

update
  .github/workflows/ci.yaml
  packages/electron/e2e/fixtures/app/bundles/hacker-news/hacker-news_0.0.1.wvb
  packages/tauri/e2e/fixtures/app/bundles/hacker-news/hacker-news_0.0.1.wvb
  packages/tauri/e2e/smoke.spec.ts
  packages/tauri/e2e/vitest.e2e.config.ts
Due: oxc

wip
  packages/bridge/CHANGELOG.md
  packages/bridge/README.md
  packages/bridge/package.json
  packages/bridge/src/callback.ts
  packages/bridge/src/error.ts
  packages/bridge/src/index.ts
  packages/bridge/src/invoke.ts
  packages/bridge/src/platform.ts
  packages/bridge/src/utils.ts
  packages/bridge/src/window.ts
  packages/bridge/tsconfig.json
  packages/bridge/tsdown.config.ts
  packages/bridge/vitest.config.ts
  packages/bridge/xtask.config.json
  yarn.lock
Due: oxc

test(electron,tauri): update e2e tests with playground webview (#167)
  .github/workflows/ci.yaml
  .gitignore
  .yarnrc.yml
  packages/electron/e2e/bundle-protocol.spec.ts
  packages/electron/e2e/fixtures/app/bundles/hacker-news/hacker-news_0.0.1.wvb
  packages/electron/e2e/fixtures/app/bundles/manifest.json
  packages/electron/e2e/fixtures/app/bundles/next/next_1.0.0.wvb
  packages/electron/e2e/fixtures/app/main.cjs
  packages/electron/e2e/smoke.spec.ts
  packages/electron/package.json
  packages/tauri/e2e/fixtures/app/bundles/hacker-news/hacker-news_0.0.1.wvb
  packages/tauri/e2e/fixtures/app/bundles/manifest.json
  packages/tauri/e2e/fixtures/app/bundles/next/next_1.0.0.wvb
  packages/tauri/e2e/fixtures/app/src-tauri/src/lib.rs
  packages/tauri/e2e/fixtures/app/src-tauri/tauri.conf.json
  packages/tauri/e2e/smoke.spec.ts
  packages/tauri/e2e/vitest.e2e.config.ts
  packages/tauri/package.json
  yarn.lock
Due: rustfmt, clippy, oxc

upgrade ndk 28 to support android 15+ 16KB page
  .github/workflows/ci-ffi.yaml
  .github/workflows/release.yaml
Due: none

feat(tauri): support iOS/Android mobile builds
  packages/tauri/Cargo.toml
  packages/tauri/src/android.rs
  packages/tauri/src/config.rs
  packages/tauri/src/error.rs
  packages/tauri/src/lib.rs
  packages/tauri/src/state.rs
Due: rustfmt, clippy

refactor(tauri): extract Android builtin bundles lazily on first read
  packages/tauri/src/android.rs
  packages/tauri/src/lib.rs
  packages/tauri/src/state.rs
Due: rustfmt, clippy

feat(ffi): upgrade ndk 28 to support android 15+ 16KB page (#173)
  .github/workflows/ci-ffi.yaml
  .github/workflows/release.yaml
Due: none

feat(tauri): log protocol request URIs and Android builtin extraction
  packages/tauri/Cargo.toml
  packages/tauri/src/android.rs
  packages/tauri/src/lib.rs
Due: rustfmt, clippy

impl
  packages/bridge/package.json
  packages/bridge/src/index.ts
  packages/bridge/src/invoke-mock.ts
  packages/bridge/src/invoke.ts
  packages/bridge/src/platform-mock.ts
  packages/bridge/src/platform.ts
  packages/bridge/src/remote.ts
  packages/bridge/src/source.ts
  packages/bridge/src/testing/index.test.ts
  packages/bridge/src/testing/index.ts
  packages/bridge/src/testing/mock.ts
  packages/bridge/src/testing/typesmap.ts
  packages/bridge/src/updater.ts
  packages/bridge/src/utils.spec.ts
  packages/bridge/tsdown.config.ts
Due: oxc

fix
  packages/bridge/package.json
  packages/bridge/src/invoke.ts
Due: oxc

feat(bridge): impl universal bridge (#171)
  packages/bridge/CHANGELOG.md
  packages/bridge/README.md
  packages/bridge/package.json
  packages/bridge/src/callback.ts
  packages/bridge/src/error.ts
  packages/bridge/src/index.ts
  packages/bridge/src/invoke-mock.ts
  packages/bridge/src/invoke.ts
  packages/bridge/src/platform-mock.ts
  packages/bridge/src/platform.ts
  packages/bridge/src/remote.ts
  packages/bridge/src/source.ts
  packages/bridge/src/testing/index.test.ts
  packages/bridge/src/testing/index.ts
  packages/bridge/src/testing/mock.ts
  packages/bridge/src/testing/typesmap.ts
  packages/bridge/src/updater.ts
  packages/bridge/src/utils.spec.ts
  packages/bridge/src/utils.ts
  packages/bridge/src/window.ts
  packages/bridge/tsconfig.json
  packages/bridge/tsdown.config.ts
  packages/bridge/vitest.config.ts
  packages/bridge/xtask.config.json
  yarn.lock
Due: oxc

don't release the first package
  xtask/releasing.ts
Due: oxc

`--staged`
  xtask/README.md
  xtask/versioned-file.ts
Due: oxc

upgrade yarn 4.17.0
  .yarn/releases/yarn-4.15.0.cjs
  .yarn/releases/yarn-4.17.0.cjs
  .yarnrc.yml
  package.json
Due: oxc

chore: upgrade yarn 4.17.0 (#176)
  .yarn/releases/yarn-4.15.0.cjs
  .yarn/releases/yarn-4.17.0.cjs
  .yarnrc.yml
  package.json
Due: oxc

fix(xtask): skip publish when the package first comitted and `--staged` publish for npm packages (#175)
  xtask/README.md
  xtask/releasing.ts
  xtask/versioned-file.ts
Due: oxc

improve xvfb dri3 error
  .github/workflows/ci.yaml
  packages/tauri/e2e/smoke.spec.ts
Due: oxc

refactor: remove unused IPC abstractions and simplify module structure
  packages/bridge/src/error.ts
  packages/bridge/src/index.ts
  packages/bridge/src/invoke.ts
  packages/bridge/src/testing/index.test.ts
  packages/electron/package.json
  packages/electron/src/index.ts
  packages/electron/src/invoke-spec.ts
  packages/electron/src/ipc-spec.ts
  packages/electron/src/ipc.ts
  packages/electron/src/preload/preload.ts
  packages/electron/src/renderer/api.ts
  packages/electron/src/renderer/index.ts
  packages/electron/tsdown.config.ts
  packages/ffi/package.json
  packages/tauri/api/index.ts
  packages/tauri/api/remote.ts
  packages/tauri/api/source.ts
  packages/tauri/api/updater.ts
  packages/tauri/package.json
  packages/tauri/src/error.rs
  packages/tauri/tsdown.config.ts
  yarn.lock
Due: rustfmt, clippy, oxc

fix
  .github/workflows/ci-ffi.yaml
  justfile
  packages/electron/src/ipc.ts
  packages/ffi/e2e/vitest.e2e-ffi.config.ts
  packages/tauri/e2e/vitest.e2e.config.ts
Due: oxc

fix(tauri): improve xvfb dri3 error to fix Intermittently e2e test fails (#177)
  .github/workflows/ci.yaml
  packages/tauri/e2e/smoke.spec.ts
Due: oxc

fix
  .github/workflows/ci-ffi.yaml
Due: none

feat(bridge,electron,tauri): remove legacy invokes to unify in `@wvb/bridge` and add `BridgeError` (#178)
  .github/workflows/ci-ffi.yaml
  justfile
  packages/bridge/src/error.ts
  packages/bridge/src/index.ts
  packages/bridge/src/invoke.ts
  packages/bridge/src/testing/index.test.ts
  packages/electron/package.json
  packages/electron/src/index.ts
  packages/electron/src/invoke-spec.ts
  packages/electron/src/ipc-spec.ts
  packages/electron/src/ipc.ts
  packages/electron/src/preload/preload.ts
  packages/electron/src/renderer/api.ts
  packages/electron/src/renderer/index.ts
  packages/electron/tsdown.config.ts
  packages/ffi/e2e/vitest.e2e-ffi.config.ts
  packages/ffi/package.json
  packages/tauri/api/index.ts
  packages/tauri/api/remote.ts
  packages/tauri/api/source.ts
  packages/tauri/api/updater.ts
  packages/tauri/e2e/vitest.e2e.config.ts
  packages/tauri/package.json
  packages/tauri/src/error.rs
  packages/tauri/tsdown.config.ts
  yarn.lock
Due: rustfmt, clippy, oxc

fix
  xtask/versioned-file.ts
Due: oxc

remove unused secret
  .github/workflows/release.yaml
Due: none

fix(xtask): ignore package json which don't have `version` field (#179)
  xtask/versioned-file.ts
Due: oxc

chore: remove unused `NPM_TOKEN` secret (#180)
  .github/workflows/release.yaml
Due: none

fix: ffi release script
  .github/workflows/release.yaml
Due: none

set default region as `auto`
  packages/remote/cloudflare/src/uploader.ts
Due: oxc

set `--deploy` option to false by default
  packages/cli/src/commands/upload.ts
Due: oxc

add description
  packages/cli/src/commands/upload.ts
Due: oxc

fix(cli): set `--deploy` option default value as false in `upload` command (#181)
  packages/cli/src/commands/upload.ts
Due: oxc

fix(remote-cloudflare): set default region as `auto` (#182)
  packages/remote/cloudflare/src/uploader.ts
Due: oxc

remote on `force` options was not working
  packages/remote/aws/src/deployer.ts
  packages/remote/aws/src/errors.ts
  packages/remote/aws/src/index.ts
  packages/remote/aws/src/uploader.ts
  packages/remote/aws/src/utils.ts
  packages/remote/cloudflare/src/index.ts
Due: oxc

fix missing `)`
  packages/cli/src/api/upload.ts
Due: oxc

change cli
  packages/cli/src/commands/deploy.ts
Due: oxc

time crate formatting `parse` -> `parse_borrowed`
  packages/core/Cargo.toml
  packages/core/src/testing/temp.rs
Due: rustfmt, clippy

fix example
  packages/cli/src/commands/deploy.ts
Due: oxc

fix(cli,remote): fix confusing deploy command arguments, `--force` option for deploy was not working (#183)
  packages/cli/src/api/upload.ts
  packages/cli/src/commands/deploy.ts
  packages/remote/aws/src/deployer.ts
  packages/remote/aws/src/errors.ts
  packages/remote/aws/src/index.ts
  packages/remote/aws/src/uploader.ts
  packages/remote/aws/src/utils.ts
  packages/remote/cloudflare/src/index.ts
Due: oxc

refactor(core): update deprecated method for time formatting (#184)
  packages/core/Cargo.toml
  packages/core/src/testing/temp.rs
Due: rustfmt, clippy

change `--version,-V` arg
  packages/cli/src/commands/upload.ts
Due: oxc
