Repository webview-bundle/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, oxc

rustfmt:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --workspace

oxc:
  run: yarn oxlint {staged_files} --type-aware --fix && yarn oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

improve
  packages/ffi/android/testapp/src/main/kotlin/dev/wvb/testapp/MainActivity.kt
  packages/ffi/e2e/device.ts
Due: oxc

refactor(ffi): improve android e2e tests (#211)
  packages/ffi/android/testapp/src/main/kotlin/dev/wvb/testapp/MainActivity.kt
  packages/ffi/e2e/device.ts
Due: oxc

fix: core test fails with time formatting assertion (#210)
  Cargo.toml
Due: none

update error codes
  packages/core/src/error.rs
  packages/core/src/lib.rs
  packages/ffi/android/lib-jvm/src/test/kotlin/dev/wvb/WebViewBundleTests.kt
  packages/ffi/apple/tests/tests.swift
  packages/ffi/src/error.rs
  packages/ffi/src/http.rs
  packages/ffi/src/signature.rs
  packages/node/binding.cjs
  packages/node/binding.d.cts
  packages/node/binding.d.ts
  packages/node/binding.js
  packages/node/lib/error.ts
  packages/node/lib/index.ts
  packages/node/lib/wrap.ts
  packages/node/package.json
  packages/node/src/error.rs
  packages/node/src/remote/remote.rs
  packages/node/src/signature.rs
  packages/node/tests/remote.spec.ts
  packages/node/tsdown.config.ts
Due: rustfmt, clippy, oxc

ipc error code
  packages/electron/src/ipc.ts
Due: oxc

unify error codes
  packages/deno-desktop/lib/bindings.test.ts
  packages/deno-desktop/lib/bindings.ts
  packages/deno-desktop/lib/http.ts
  packages/deno-desktop/lib/mod.ts
  packages/deno-desktop/lib/protocol.ts
  packages/deno-desktop/lib/webview-bundle.test.ts
  packages/deno-desktop/lib/webview-bundle.ts
  packages/deno/lib/binding.test.ts
  packages/deno/lib/error.ts
  packages/deno/lib/ffi.ts
  packages/deno/lib/install.ts
  packages/deno/lib/mod.ts
  packages/deno/lib/protocol.ts
  packages/deno/lib/release.test.ts
  packages/deno/lib/release.ts
  packages/deno/lib/remote.ts
  packages/deno/lib/source.ts
  packages/deno/lib/updater.ts
  packages/deno/scripts/build.ts
  packages/deno/src/lib.rs
  packages/node/tests/bundle.spec.ts
  packages/node/tests/integrity-and-signature.spec.ts
  packages/node/tests/remote.spec.ts
  packages/node/tests/source.spec.ts
  packages/node/tests/updater.spec.ts
  yarn.lock
Due: rustfmt, clippy, oxc

fix: address cubic review and attw node10 type resolution
  packages/deno-desktop/lib/bindings.ts
  packages/deno-desktop/lib/webview-bundle.test.ts
  packages/electron/src/ipc.ts
  packages/ffi/src/error.rs
  packages/ffi/src/signature.rs
  packages/node/lib/error.ts
  packages/node/package.json
  packages/node/scripts/fix-binding-dts.mjs
  packages/node/src/signature.rs
Due: rustfmt, clippy, oxc

fix
  packages/node/binding.d.ts
  packages/node/binding.js
  packages/node/lib/error.ts
  packages/node/lib/index.ts
  packages/node/package.json
  packages/node/scripts/fix-binding-dts.mjs
  packages/node/tsdown.config.ts
Due: oxc

fix(node): build host binding for host-run tests
  packages/node/package.json
Due: oxc

ci: build host binary for cross-target test jobs
  .github/workflows/ci.yaml
  packages/node/package.json
Due: oxc

ci: skip host-run tests for cross-compile targets
  .github/workflows/ci.yaml
Due: none

upgrade yarn 4.17.1
  .yarn/releases/yarn-4.17.0.cjs
  .yarn/releases/yarn-4.17.1.cjs
  .yarnrc.yml
  package.json
Due: oxc

update yarn
  yarn.lock
Due: none

chore: upgrade yarn 4.17.1 (#213)
  .yarn/releases/yarn-4.17.0.cjs
  .yarn/releases/yarn-4.17.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: oxc

works
  packages/core/Cargo.toml
  packages/core/src/error.rs
  packages/core/src/lib.rs
  packages/core/src/protocol/bundle.rs
  packages/core/src/protocol/local.rs
  packages/core/src/protocol/mod.rs
  packages/core/src/protocol/proxy.rs
  packages/core/src/protocol/uri.rs
  packages/deno-desktop/deno.json
  packages/deno-desktop/lib/bindings.test.ts
  packages/deno-desktop/lib/bindings.ts
  packages/deno-desktop/lib/mod.ts
  packages/deno-desktop/lib/protocol.ts
  packages/deno-desktop/lib/routes.ts
  packages/deno-desktop/lib/webview-bundle.test.ts
  packages/deno-desktop/lib/webview-bundle.ts
  packages/deno.json
  packages/deno/Cargo.toml
  packages/deno/lib/binding.test.ts
  packages/deno/lib/ffi.ts
  packages/deno/lib/mod.test.ts
  packages/deno/lib/mod.ts
  packages/deno/lib/protocol.ts
  packages/deno/src/lib.rs
  packages/electron/src/index.ts
  packages/electron/src/protocol.ts
  packages/ffi/android/testapp/src/main/kotlin/dev/wvb/testapp/TestRunner.kt
  packages/ffi/apple/ios/TestApp/TestRunner.swift
  packages/ffi/src/protocol.rs
  packages/node/index.cjs
  packages/node/index.d.cts
  packages/node/index.d.ts
  packages/node/index.js
  packages/node/src/protocol.rs
  packages/node/tests/protocol.spec.ts
  packages/tauri/Cargo.toml
  packages/tauri/src/config.rs
  packages/tauri/src/lib.rs
  packages/tauri/src/state.rs
Due: rustfmt, clippy, oxc

fix(core): clear clippy warnings in protocol resolvers
  packages/core/src/protocol/proxy.rs
  packages/core/src/protocol/uri.rs
Due: rustfmt, clippy

fix: address protocol review findings
  packages/core/src/protocol/proxy.rs
  packages/deno-desktop/lib/routes.ts
  packages/deno-desktop/lib/webview-bundle.test.ts
  packages/deno/lib/ffi.ts
  packages/deno/lib/mod.test.ts
  packages/deno/lib/protocol.ts
  packages/deno/src/lib.rs
  packages/electron/src/index.ts
  packages/electron/src/protocol.ts
  packages/ffi/android/testapp/src/main/kotlin/dev/wvb/testapp/TestRunner.kt
  packages/node/binding.d.cts
  packages/node/src/http.rs
  packages/node/src/protocol.rs
  packages/node/tests/protocol.spec.ts
  packages/tauri/src/lib.rs
  packages/tauri/src/state.rs
Due: rustfmt, clippy, oxc

feat: proxy protocol options across bindings
  packages/core/src/protocol/bundle.rs
  packages/core/src/protocol/proxy.rs
  packages/deno-desktop/lib/http.ts
  packages/deno-desktop/lib/routes.ts
  packages/deno-desktop/lib/webview-bundle.test.ts
  packages/deno/lib/ffi.ts
  packages/deno/lib/mod.test.ts
  packages/deno/lib/mod.ts
  packages/deno/lib/protocol.ts
  packages/deno/src/lib.rs
  packages/electron/src/protocol.ts
  packages/electron/src/utils.ts
  packages/ffi/android/testapp/src/main/kotlin/dev/wvb/testapp/TestRunner.kt
  packages/ffi/apple/ios/TestApp/TestRunner.swift
  packages/ffi/src/http.rs
  packages/ffi/src/protocol.rs
  packages/node/binding.d.cts
  packages/node/src/protocol.rs
  packages/node/tests/protocol.spec.ts
  packages/tauri/src/config.rs
  packages/tauri/src/lib.rs
  packages/tauri/src/state.rs
Due: rustfmt, clippy, oxc

feat: errorResponse hook and typed node error codes
  packages/core/src/protocol/bundle.rs
  packages/core/src/protocol/proxy.rs
  packages/deno-desktop/lib/mod.ts
  packages/deno-desktop/lib/routes.ts
  packages/deno-desktop/lib/webview-bundle.test.ts
  packages/deno/lib/ffi.ts
  packages/deno/lib/mod.test.ts
  packages/deno/lib/protocol.ts
  packages/deno/src/lib.rs
  packages/electron/src/protocol.ts
  packages/ffi/android/testapp/src/main/kotlin/dev/wvb/testapp/TestRunner.kt
  packages/ffi/src/protocol.rs
  packages/node/binding.cjs
  packages/node/binding.d.cts
  packages/node/lib/error.ts
  packages/node/src/error.rs
  packages/node/src/protocol.rs
  packages/node/tests/protocol.spec.ts
  packages/tauri/src/config.rs
  packages/tauri/src/lib.rs
  packages/tauri/src/state.rs
Due: rustfmt, clippy, oxc

refactor(core): drop the proxy response cache
  packages/core/src/protocol/proxy.rs
  packages/deno-desktop/lib/routes.ts
  packages/deno-desktop/lib/webview-bundle.test.ts
  packages/deno/lib/ffi.ts
  packages/deno/lib/mod.test.ts
  packages/deno/lib/mod.ts
  packages/deno/lib/protocol.ts
  packages/deno/src/lib.rs
  packages/electron/src/protocol.ts
  packages/ffi/android/testapp/src/main/kotlin/dev/wvb/testapp/TestRunner.kt
  packages/ffi/apple/ios/TestApp/TestRunner.swift
  packages/ffi/src/protocol.rs
  packages/node/binding.d.cts
  packages/node/src/protocol.rs
  packages/node/tests/protocol.spec.ts
  packages/tauri/src/config.rs
  packages/tauri/src/state.rs
Due: rustfmt, clippy, oxc

fix(electron): carry the request body on the electron < 25 path
  packages/electron/src/protocol.ts
  packages/electron/src/utils.ts
  packages/electron/tests/utils.spec.ts
  packages/electron/vitest.config.ts
Due: oxc

autogen error codes
  packages/deno/build.rs
  packages/deno/lib/error-codes.ts
  packages/deno/lib/error.ts
  packages/deno/lib/mod.ts
  packages/deno/src/error.rs
  packages/deno/src/error_codes.rs
  packages/deno/src/lib.rs
Due: rustfmt, clippy, oxc

fix removed interface
  packages/electron/e2e/fixtures/app/main.cjs
Due: oxc

test(ffi): boot the first installed AVD in the android e2e
  packages/ffi/e2e/android.spec.ts
  packages/ffi/e2e/device.ts
Due: oxc

feat: verify data checksums on read and bundles on load
  packages/core/src/bundle.rs
  packages/core/src/integrity/checker.rs
  packages/core/src/lib.rs
  packages/core/src/protocol/bundle.rs
  packages/core/src/signature/ecdsa_secp256r1.rs
  packages/core/src/signature/ecdsa_secp384r1.rs
  packages/core/src/signature/ed25519.rs
  packages/core/src/signature/mod.rs
  packages/core/src/signature/rsa_pkcs1_v1_5.rs
  packages/core/src/signature/rsa_pss.rs
  packages/core/src/source/source.rs
  packages/core/src/testing/mock.rs
  packages/core/src/updater/updater.rs
  packages/core/src/verify.rs
  packages/core/tests/verification.rs
  packages/deno-desktop/lib/routes.ts
  packages/deno/lib/ffi.ts
  packages/deno/lib/mod.test.ts
  packages/deno/lib/mod.ts
  packages/deno/lib/protocol.ts
  packages/deno/lib/source.ts
  packages/deno/lib/updater.ts
  packages/deno/src/lib.rs
  packages/electron/src/protocol.ts
  packages/ffi/src/protocol.rs
  packages/ffi/src/source.rs
  packages/node/binding.cjs
  packages/node/binding.d.cts
  packages/node/lib/index.ts
  packages/node/src/protocol.rs
  packages/node/src/signature.rs
  packages/node/src/source.rs
  packages/node/tests/protocol.spec.ts
  packages/node/tests/source.spec.ts
  packages/tauri/src/config.rs
  packages/tauri/src/lib.rs
  packages/tauri/src/state.rs
Due: rustfmt, clippy, oxc

fix: address review on runtime verification
  .claude/CLAUDE.md
  packages/core/Cargo.toml
  packages/core/src/bundle.rs
  packages/core/src/source/source.rs
  packages/core/src/updater/updater.rs
  packages/core/tests/verification.rs
  packages/deno/lib/mod.test.ts
  packages/deno/lib/protocol.ts
  packages/deno/lib/source.ts
  packages/deno/src/lib.rs
  packages/ffi/src/source.rs
  packages/node/binding.d.cts
  packages/node/src/source.rs
  packages/node/src/updater.rs
  packages/node/tests/source.spec.ts
  packages/tauri/src/config.rs
Due: rustfmt, clippy, oxc

fix: correct verification docs and dedupe the ffi source constructor
  packages/core/src/source/source.rs
  packages/deno/lib/protocol.ts
  packages/deno/lib/source.ts
  packages/ffi/src/source.rs
  packages/node/binding.d.cts
  packages/node/src/source.rs
  packages/node/src/updater.rs
Due: rustfmt, clippy, oxc

Update .claude/CLAUDE.md
  .claude/CLAUDE.md
Due: none

refactor(core): decouple source integrity & signature options
  packages/core/src/bundle.rs
  packages/core/src/integrity/checker.rs
  packages/core/src/integrity/mod.rs
  packages/core/src/integrity/policy.rs
  packages/core/src/lib.rs
  packages/core/src/protocol/bundle.rs
  packages/core/src/signature/mod.rs
  packages/core/src/source/source.rs
  packages/core/src/updater/updater.rs
  packages/core/src/verify.rs
  packages/core/tests/verification.rs
  packages/deno/lib/mod.test.ts
  packages/deno/lib/mod.ts
  packages/deno/lib/protocol.ts
  packages/deno/lib/source.ts
  packages/deno/lib/updater.ts
  packages/deno/src/lib.rs
  packages/ffi/src/integrity.rs
  packages/ffi/src/source.rs
  packages/ffi/src/updater.rs
  packages/node/binding.cjs
  packages/node/binding.d.cts
  packages/node/lib/index.ts
  packages/node/lib/wrap.ts
  packages/node/src/error.rs
  packages/node/src/integrity.rs
  packages/node/src/source.rs
  packages/node/src/updater.rs
  packages/node/tests/integrity-and-signature.spec.ts
  packages/node/tests/source.spec.ts
  packages/tauri/src/config.rs
  packages/tauri/src/lib.rs
Due: rustfmt, clippy, oxc

feat(core): verify header & index checksums on load
  .claude/CLAUDE.md
  packages/core/src/builder.rs
  packages/core/src/bundle.rs
  packages/core/src/header.rs
  packages/core/src/index.rs
  packages/core/src/protocol/bundle.rs
  packages/core/src/source/kind.rs
  packages/core/src/source/mod.rs
  packages/core/src/source/options.rs
  packages/core/src/source/source.rs
  packages/core/src/source/version.rs
  packages/core/src/updater/updater.rs
  packages/core/tests/verification.rs
  packages/deno/src/lib.rs
  packages/ffi/src/bundle.rs
  packages/ffi/src/protocol.rs
  packages/ffi/src/source.rs
  packages/node/src/bundle.rs
  packages/node/src/source.rs
  packages/tauri/src/config.rs
  packages/tauri/src/lib.rs
Due: rustfmt, clippy

refactor(node,deno,ffi): group source checksum options
  packages/deno/lib/mod.test.ts
  packages/deno/lib/mod.ts
  packages/deno/lib/source.ts
  packages/deno/src/lib.rs
  packages/ffi/src/source.rs
  packages/node/binding.d.cts
  packages/node/lib/index.ts
  packages/node/src/source.rs
  packages/node/tests/source.spec.ts
Due: rustfmt, clippy, oxc

refactor(node,deno,ffi): mirror core read-option structs
  packages/deno/lib/mod.test.ts
  packages/deno/lib/mod.ts
  packages/deno/lib/source.ts
  packages/deno/src/lib.rs
  packages/ffi/src/source.rs
  packages/node/binding.d.cts
  packages/node/lib/index.ts
  packages/node/src/source.rs
  packages/node/tests/source.spec.ts
Due: rustfmt, clippy, oxc

refactor(tauri): group source read options like the other bindings
  packages/tauri/src/config.rs
  packages/tauri/src/lib.rs
Due: rustfmt, clippy

refactor(core): serve protocol reads with the source's read options
  packages/core/src/protocol/bundle.rs
  packages/core/tests/verification.rs
  packages/deno-desktop/lib/routes.ts
  packages/deno/lib/mod.test.ts
  packages/deno/lib/protocol.ts
  packages/deno/src/lib.rs
  packages/electron/src/protocol.ts
  packages/ffi/src/protocol.rs
  packages/node/binding.d.cts
  packages/node/src/protocol.rs
  packages/node/tests/protocol.spec.ts
  packages/tauri/src/config.rs
  packages/tauri/src/state.rs
Due: rustfmt, clippy, oxc

fix
  packages/node/src/remote/remote.rs
Due: rustfmt, clippy

update params
  packages/node/binding.d.cts
Due: oxc

Path conditions:
  rustfmt: any of: *.rs
  clippy: any of: *.rs
  oxc: any of: *.{js,ts,jsx,tsx,cjs,mjs,cts,mts,json}
