Repository webview-bundle/webview-bundle: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, oxc

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rustfmt:
      glob: '*.rs'
      run: cargo fmt --all
      stage_fixed: true
    clippy:
      glob: '*.rs'
      run: cargo clippy --workspace
    oxc:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,cts,mts,json}'
      run: yarn oxlint {staged_files} --type-aware --fix && yarn oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

remove local date
  packages/core/Cargo.toml
  packages/core/src/testing/temp.rs
Due: rustfmt, clippy

min target to 15.0
  packages/ffi/apple/ios/Project.swift
Due: none

merge into single package
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  biome.json
  justfile
  packages/deno-desktop/CHANGELOG.md
  packages/deno-desktop/README.md
  packages/deno-desktop/deno.json
  packages/deno-desktop/fixtures/builtin/app/1.0.0.wvb
  packages/deno-desktop/fixtures/builtin/manifest.json
  packages/deno.json
  packages/deno/README.md
  packages/deno/deno.json
  packages/deno/deno.lock
  packages/deno/lib/desktop/bindings.test.ts
  packages/deno/lib/desktop/bindings.ts
  packages/deno/lib/desktop/http.ts
  packages/deno/lib/desktop/mod.ts
  packages/deno/lib/desktop/remote.ts
  packages/deno/lib/desktop/routes.ts
  packages/deno/lib/desktop/source.test.ts
  packages/deno/lib/desktop/source.ts
  packages/deno/lib/desktop/webview-bundle.test.ts
  packages/deno/lib/desktop/webview-bundle.ts
  packages/deno/lib/mod.test.ts
  xtask/releasing.spec.ts
Due: oxc

fix(core): remove `local-offset` feature in `time` crate (#247)
  packages/core/Cargo.toml
  packages/core/src/testing/temp.rs
Due: rustfmt, clippy

chore: add setup ffi command in justfile (#248)
  justfile
Due: none

match with rolldown
  packages/cli/package.json
Due: oxc

chore(ffi): update testapp min target to 15.0 (#246)
  packages/ffi/apple/ios/Project.swift
Due: none

feat(cli): update supported node version (#249)
  packages/cli/package.json
Due: oxc

feat(deno): merge single deno package `@wvb/deno-desktop` -> `@wvb/deno/desktop` (#250)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  biome.json
  justfile
  packages/deno-desktop/CHANGELOG.md
  packages/deno-desktop/README.md
  packages/deno-desktop/deno.json
  packages/deno-desktop/fixtures/builtin/app/1.0.0.wvb
  packages/deno-desktop/fixtures/builtin/manifest.json
  packages/deno.json
  packages/deno/README.md
  packages/deno/deno.json
  packages/deno/deno.lock
  packages/deno/lib/desktop/bindings.test.ts
  packages/deno/lib/desktop/bindings.ts
  packages/deno/lib/desktop/http.ts
  packages/deno/lib/desktop/mod.ts
  packages/deno/lib/desktop/remote.ts
  packages/deno/lib/desktop/routes.ts
  packages/deno/lib/desktop/source.test.ts
  packages/deno/lib/desktop/source.ts
  packages/deno/lib/desktop/webview-bundle.test.ts
  packages/deno/lib/desktop/webview-bundle.ts
  packages/deno/lib/mod.test.ts
  xtask/releasing.spec.ts
Due: oxc

fix
  packages/remote/cloudflare-provider-pulumi/package.json
  yarn.lock
Due: oxc

fix
  packages/remote/aws/tsdown.config.ts
Due: oxc

update yarn
  yarn.lock
Due: none

update node bidning
  packages/node/binding.d.cts
Due: oxc

server
  packages/remote/local/package.json
  packages/remote/local/src/server/index.ts
  packages/remote/local/src/server/server.spec.ts
  packages/remote/local/src/server/server.ts
  yarn.lock
Due: oxc

fix
  packages/cli/package.json
  packages/cli/src/api/remote/local.ts
  packages/remote/local/src/server/index.ts
  yarn.lock
Due: oxc

fix(node): update node bidning dts (#251)
  packages/node/binding.d.cts
Due: oxc

fix
  packages/cli/src/api/remote/local.ts
  packages/cli/src/api/upload.spec.ts
Due: oxc
